
{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
	.move-right {
		margin: 0 20px 0 0; 
	}

    .delete-button-iTem {
		background-image: url("{% static 'images/icons/icon-close2.png' %}");
		width: 20px;
		height: 20px;
		left: 320px;
}
</style>





<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
			
			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
	
	
	
    {% if cart_items %}
	
	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85" id="conTen-caRT">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart" id="caRT-tabLe">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">SubTotal</th>
								</tr>
                                
                                {% for item in cart_items %}
								
								<tr class="table_row ConTent" data-content="{{item.product.id}}" data-size="{{item.size}}"data-color="{{item.color}}">
									<td class="column-1">
										<div style="position: relative; ">
											<a href="{% url 'product_details' item.product.id %}">
												<img src="{{item.product.image.url}}" alt="IMG" width="90" height="105" class="move-right"></a>
												<br>
												<div>
													<br>

													<button class="delete-button-iTem" data-product-id-delete="{{item.product.id}}"  data-color="{{item.color}}" data-size="{{item.size}}" type="button" style="position: absolute; top: -1px; right: 0px; width: 20px; height: 20px; border-radius: 50%;"
													></button>
												</div>
											</div>
										</td>
										<td class="column-2">
											<div>
												<a class="stext-110 cl2" href="{% url 'product_details' item.product.id %}">
													{{item.product.product_name}}
												</a>
												<br>
												<span>
													Size : {{item.size}}
												</span>
												<br>
												<span>
													Color : {{item.color}}
												</span>
											</div>
										</td>
										<td class="column-3">$ {{item.product.price}}</td>
										<td class="column-4">
											<div class="wrap-num-product flex-w m-l-auto m-r-0">
												<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
													<button class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m BuT-mInuS" type="button" id="button-plus" data-product-id-minus="{{item.product.id}}" data-item-id-minus="{{item.id}}" data-product-id-color="{{item.color}}"data-product-id-size="{{item.size}}">
														<i class="fs-16 zmdi zmdi-minus"></i>
													</button>
												</div>
												<input class="mtext-104 cl3 txt-center num-product pRodUct-Qty" type="number" name="num-product1" value="{{item.quantity}}" data-qty="{{item.product.id}}" data-color="{{item.color}}"data-size="{{item.size}}" readonly lang="en">
												<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
													<button class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m BuT-pLUS" type="button" id="button-plus" data-product-id-plus="{{item.product.id}}" data-product-id-color="{{item.color}}"data-product-id-size="{{item.size}}">
														<i class="fs-16 zmdi zmdi-plus"></i>
													</button>
												</div>
											</div>
										</td>
										
										
										<td class="column-5 SUb-totAl" data-subtotal-id="{{item.product.id}}"data-subtotal-color="{{item.color}}"data-subtotal-size="{{item.size}}">$ {{item.sub_total}}</td>
									</tr>
									<input type="hidden" class="Thj-PrICEE" value="{{item.product.price}}" data-pprice="{{item.product.id}}">
									{% endfor %}
								</table>
						</div>
                        
						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply coupon
								</div>
							</div>

							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Update Cart
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Total:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2 toTAL-totAL">
									$ {{total}}
								</span>
							</div>
						</div>
						<br>
						
						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Tax:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2 Tax-toTal">
									$ {{tax}}
								</span>
							</div>
						</div>

						

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Final Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2 FinaL-ToTal">
									$ {{grand_total}}
								</span>
							</div>
						</div>

						<a href="{% url 'chekout' %}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Checkout
						</a>
					</div>
				</div>
			</div>
		</div>
	</form>
    {% else %}
    	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">

                            <h2 class="text-center">Your shopping cart is Empty.</h2>
                            <br>
                            <div class="text-center">
                                <a href="{% url 'store' %}" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">GO SHOPING</a>
                                <br>
                                <br>
                                <br>
                            </div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
    {% endif %}
{% endblock content %}


{% block scripts %}

<script>
	
	$('.BuT-pLUS').click(function(){
		var id =$(this).data('product-id-plus');
		var color =$(this).data('product-id-color');
		var size =$(this).data('product-id-size');
		var price = $('.Thj-PrICEE[data-pprice="' + id + '"]').val();
		var qty = parseInt($('.pRodUct-Qty[data-qty="' + id + '"][data-color="' + color + '"][data-size="' + size + '"]').val()) + 1;
		


		$.ajax({

			url:'/cart/add_cart/',
			data:{
				'id':id,
				'color':color,
				'size':size,
				
			},
			dataType:'json',
			success: function(data){
				$('.square-CarT-Pc').text(data['cart_count']); 
				$('.square-CarT-PhoNE').text(data['cart_count']);
				$('.Noti-ShopCart-PC').text(data['cart_count']); 
				$('.SUb-totAl[data-subtotal-id="' + id + '"][data-subtotal-color="' + color + '"][data-subtotal-size="' + size + '"]').text('$ ' + qty*price);   
				// side bar
				$('.toTAL-totAL').text('$ ' + data.total.toFixed(0));
				$('.Tax-toTal').text('$ ' + data.tax.toFixed(1));
				$('.FinaL-ToTal').text('$ ' + data.grand_total.toFixed(1));
				$('#sidE-Cart').html(data.templ_side_cart);
				
				


			}
		});
	});
</script>


<script>
	
	$('.BuT-mInuS').click(function(){
		var id =$(this).data('product-id-minus');
		var color =$(this).data('product-id-color');
		var size =$(this).data('product-id-size');
		var price = $('.Thj-PrICEE[data-pprice="' + id + '"]').val();
		var qty = parseInt($('.pRodUct-Qty[data-qty="' + id + '"][data-color="' + color + '"][data-size="' + size + '"]').val()) - 1;
        
		

		$.ajax({

			url:'/cart/decrement_cart/',
			data:{
				'id':id,
				'color':color,
				'size':size,
				
				
			},
			dataType:'json',
			success: function(data){
				$('.square-CarT-Pc').text(data['cart_count']); 
				$('.square-CarT-PhoNE').text(data['cart_count']);
				$('.Noti-ShopCart-PC').text(data['cart_count']); 

				$('.SUb-totAl[data-subtotal-id="' + id + '"][data-subtotal-color="' + color + '"][data-subtotal-size="' + size + '"]').text('$ ' + qty*price);

				// side bar
				$('.toTAL-totAL').text('$ ' + data['total'].toFixed(0));
				$('.Tax-toTal').text('$ ' + data['tax'].toFixed(1));
				$('.FinaL-ToTal').text('$ ' + data['grand_total'].toFixed(1));
				$('#sidE-Cart').html(data.templ_side_cart);
				if ($('.pRodUct-Qty[data-qty="' + id + '"][data-color="' + color + '"][data-size="' + size + '"]').val() < 1) {
                    $("#caRT-tabLe").html(data.template);
				}
				if (data.total == 0) {
					$("#conTen-caRT").html(data.template_2);
				}
			}
		});
	});
</script>



<script>
	
	$('.delete-button-iTem').click(function(){
		var id =$(this).data('product-id-delete');
		var color =$(this).data('color');
		var size =$(this).data('size');

		var mytoast=$.toast({
			heading: 'Success',
			text: 'The product has been removed successfully',
			showHideTransition: 'slide',
			icon: 'success',
			position: {
				top: 60,
				left: 10,
			}
		})


		
		

		$.ajax({

			url:'/cart/remove_item/',
			data:{
				'id':id,
				'color':color,
				'size':size,
				
				
			},
			dataType:'json',
			success: function(data){
				// side bar
				$('.square-CarT-Pc').text(data['cart_count']); 
				$('.square-CarT-PhoNE').text(data['cart_count']);
				$('.Noti-ShopCart-PC').text(data['cart_count']); 
				//sidbar
				$('.toTAL-totAL').text('$ ' + data['total'].toFixed(0));
				$('.Tax-toTal').text('$ ' + data['tax'].toFixed(1));
				$('.FinaL-ToTal').text('$ ' + data['grand_total'].toFixed(1));
                // remove action
				$("#caRT-tabLe").html(data.template);
				$('#sidE-Cart').html(data.templ_side_cart);
				mytoast;
				if (data.total == 0) {
					$("#conTen-caRT").html(data.template_2);
				}
				
				
				
			}
		});

	
	});
</script>
{% endblock scripts %}