{% extends "base.html" %}
{% block content %}
{% load static %}
{% load i18n %}
<title>{% trans "Change Password" %}</title>

<div class="singup">
    <div class="container">
        <h1>{% trans "Change Password" %}</h1>
        <span class="careat-account"></span>
        <div class="content">
            <div class="manw-sing">
                <h3>{% trans "Enter The New Password, It Must Be At Least 6 Characters" %}</h3>
                <span class="includ-msg">{% include 'includes/masg.html' %}</span>
                <form action="{% url "change_password" user.id user.slug %}" method="POST">
                    {% csrf_token %}
                    <div class="field field_v2">
                        <label class="ha-screen-reader">{% trans "Current Password" %}</label>
                        <input type="password" id="conf_password" name='current_password' class="field__input"
                            placeholder=" ">
                        <span class="field__label-wrap" aria-hidden="true">
                            <span class="field__label">{% trans "Current Password" %}</span>
                        </span>
                        <button class="close-eye toggle-btn-conf eye-conf hedden" type="button"><img
                                src="{% static 'images/icons/7897.png' %}" alt=""></button>
                    </div>
                    <div class="field field_v2">
                        <label for="new_password" class="ha-screen-reader">{% trans "New Password" %}</label>
                        <input type="password" id="Password" name='new_password' class="field__input" placeholder=" ">
                        <span class="field__label-wrap" aria-hidden="true">
                            <span class="field__label">{% trans "New Password" %}</span>
                        </span>
                        <button class="close-eye toggle-btn eye hedden" type="button"><img
                                src="{% static 'images/icons/7897.png' %}" alt=""></button>
                    </div>

                    <div for="confirm_password" class="field field_v2">
                        <label for="current_password" class="ha-screen-reader">{% trans "Confirm Password" %}</label>
                        <input type="password" name='conf_password' class="field__input" placeholder=" ">
                        <span class="field__label-wrap" aria-hidden="true">
                            <span class="field__label">{% trans "Confirm Password" %}</span>
                        </span>
                    </div>

                    <button class="login-btn">{% trans "Change" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script>

    $(".toggle-btn").click(function () {
        var passwordField = document.getElementById("Password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
            $('.eye').html('<img src="{% static "images/icons/78767.png" %}" alt="">')

        } else {
            passwordField.type = "password";
            $('.eye').html('<img src="{% static "images/icons/7897.png" %}" alt="">')

        }
    });

    var passwordField = document.getElementById("Password");
    passwordField.addEventListener("focus", function () {
        $('.toggle-btn-conf').addClass('hedden')
        $('.toggle-btn').removeClass('hedden')
    });




    //conf password
    $(".toggle-btn-conf").click(function () {
        var conf_passwordField = document.getElementById("conf_password");
        if (conf_passwordField.type === "password") {
            conf_passwordField.type = "text";
            $('.eye-conf').html('<img src="{% static "images/icons/78767.png" %}" alt="">')

        } else {
            conf_passwordField.type = "password";
            $('.eye-conf').html('<img src="{% static "images/icons/7897.png" %}" alt="">')

        }
    });

    var conf_passwordField = document.getElementById("conf_password");
    conf_passwordField.addEventListener("focus", function () {
        $('.toggle-btn-conf').removeClass('hedden')
        $('.toggle-btn').addClass('hedden')
    });


</script>

{% endblock scripts %}