{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load i18n %}


<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
</style>

{% if LANGUAGE_CODE == 'en' %}
<style>
  
  .jq-toast-wrap{
    direction: ltr;
  }
</style>
{% else %}
<style>
  .jq-toast-wrap{
    direction: rtl;
  }
</style>
{% endif %}


<title>{% trans "Activate" %}</title>

<div class="singup">
  <div class="container">
    <h1>{% trans "Activation code" %}</h1>
    <span class="careat-account"></span>
    <div class="content">
      <div class="manw-sing code-valdia">
        <h3>{% trans 'Your Account Activation Code Has Been Sent To Your Email' %}</h3>
        <h3>"{{email}}"</h3>
        <span class="includ-msg">{% include 'includes/masg.html' %}</span>
        <form class="code-form">
          <h4 class="text-center mb-4">{% trans "Enter The Code" %}</h4>
          <div class="d-flex mb-3">
              <input type="number" name='code' id="one-inp" class='form-control' required/>
              <input type="number" name='code' id="tow-inp" class='form-control' required/>
              <input type="number" name='code' id="three-inp" class='form-control' required/>
              <input type="number" name='code' id="four-inp" class='form-control' required/>
              <input type="number" name='code' id="five-inp" class='form-control' required/>
              <input type="number" name='code' id="six-inp" class='form-control' required/>
            </div>
            <span class="loader-validation"></span>
          </form>
          <button class="resend-btn" id="agane-active-mEssGge"><span class="text-vaild">{% trans "Send again" %}</span><span class="valid-span-btn "></span></button>
      </div>
    </div>
  </div>
</div>




{% endblock content %}

{% block scripts %}
<script>


  $(document).ready(function(){
    var pibszzzz = new URLSearchParams(window.location.search).get('pibszzzz');
    $.ajax({
      url:'/accounts/verif_code_activ/',
      data:{
        "theCode":'',
        "pibszzzz":pibszzzz,
      },
      dataType:'json',
      
      success: function(data){


        if (data.sendeng_cocunt < 1){
          $('.resend-btn').addClass('resend-btn-dis')
          $(".resend-btn").attr('disabled',true);
          //=====
          if (data.lang == 'en'){
            var en_toast=$.toast({
              heading: 'Error',
              text: 'You cannot resend.',
              showHideTransition: 'fade',
              icon: 'error',
              position: 'top-left',
              })
            }
            else{
            var en_toast=$.toast({
              heading: 'خطأ',
              text: 'لا يمكنك اعادة الإرسال',
              showHideTransition: 'fade',
              icon: 'error',
              position: 'top-right',
              })
          }
          //=====
        }

        else{
          $(".resend-btn").attr('disabled',false);
          $('.resend-btn').removeClass('resend-btn-dis')
        }
        
      }
    });
    $('.loader-validation').hide()
    
  });



$('#agane-active-mEssGge').click(function(){

  var email = new URLSearchParams(window.location.search).get('email');
  var pibszzzz = new URLSearchParams(window.location.search).get('pibszzzz');
  var tivk = new URLSearchParams(window.location.search).get('tivk');


  $.ajax({

    url:'/accounts/resned_activ/',
    data:{
      'email':email,
      'pibszzzz':pibszzzz,
      'tivk':tivk,
      
      
    },
    beforeSend:function(){
      $(".resend-btn").attr('disabled',true);
      $('.text-vaild').text(null)
      $('.valid-span-btn').addClass('loader-btn-valid')
      $('.resend-btn').addClass('resend-btn-dis')
    },
    dataType:'json',
    success: function(data){
      if (data.sendeng_cocunt < 1){
        $('.resend-btn').addClass('resend-btn-dis')
        $(".resend-btn").attr('disabled',true);
      }
      else{
        $(".resend-btn").attr('disabled',false);
        $('.resend-btn').removeClass('resend-btn-dis')
      }
      $('.text-vaild').text('Resend')
      $('.valid-span-btn').removeClass('loader-btn-valid')

      if (data.lang == 'en'){
        var en_toast=$.toast({
          heading: 'Success',
          text: 'The confirmation message has been resent.',
          showHideTransition: 'plain',
          icon: 'success',
          position: 'top-left',
          })
        }
        else{
        var en_toast=$.toast({
          heading: 'نجاح',
          text: 'تم اعادة ارسال رسالة التأكيد.',
          showHideTransition: 'plain',
          icon: 'success',
          position: 'top-right',
          })
      }
    },
  });

});


</script>



<script>
  const inputElements = [...document.querySelectorAll('input.form-control')]

inputElements.forEach((ele,index)=>{
  ele.addEventListener('keydown',(e)=>{
    
    if(e.keyCode === 8 && e.target.value==='') inputElements[Math.max(0,index-1)].focus()
  })
  ele.addEventListener('input',(e)=>{
    
    const [first,...rest] = e.target.value
    e.target.value = first ?? '' 
    const lastInputBox = index===inputElements.length-1
    const didInsertContent = first!==undefined
    if(didInsertContent && !lastInputBox) {
      inputElements[index+1].focus()
      inputElements[index+1].value = rest.join('')
      inputElements[index+1].dispatchEvent(new Event('input'))
    }
  })
})



//Six
var sixField = document.getElementById('six-inp');
sixField.addEventListener('input', function() {
  var one=document.getElementById('one-inp').value;
  var tow=document.getElementById('tow-inp').value;
  var three=document.getElementById('three-inp').value;
  var four=document.getElementById('four-inp').value;
  var five=document.getElementById('five-inp').value;
  var six = sixField.value;

  if (one != '' && tow != '' && three != '' && four != '' && five != '' && six != '' ){
    var theCode = one + tow + three + four + five + six;
    var pibszzzz = new URLSearchParams(window.location.search).get('pibszzzz');
    $.ajax({
      url:'/accounts/verif_code_activ/',
      data:{
        "theCode":theCode,
        "pibszzzz":pibszzzz,
      },
      dataType:'json',
      beforeSend:function(){
        $('.code-form').removeClass('vibration')
        $('.loader-validation').show()
      },
      success: function(data){
        if (data.verification == true){
          window.location.href='/accounts/login/'
        }
        else{
          $('.code-form').addClass('vibration')
          var inputFields = document.querySelectorAll('.form-control');
          var className = 'err-input';
          inputFields.forEach(function(input) {
            input.classList.add(className);
          });
        }
        $('.loader-validation').hide()
        
      }
    });
    
  }
});

</script>





{% endblock scripts %}
