{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  #id_email {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #343117;
    border-radius: 50px;
    font-size: 16px;
    min-width: 179px;
    height: 46px;
    position: relative;
    left: 450px;
  }

  #id_password {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #3e3a18;
    border-radius: 50px;
    font-size: 16px;
    position: relative;
    left: 450px;
    
    
  }

  .butonnd{
    background-color: #4CAF50; /* لون الخلفية */
  border: none; /* إزالة حدود الزر */
  color: white; /* لون النص */
  padding: 15px 32px; /* حجم الزر */
  text-align: center; /* محاذاة النص في الزر */
  text-decoration: none; /* إزالة تأثيرات النص */
  display: inline-block; /* عرض الزر كعنصر مستقل */
  font-size: 16px; /* حجم الخط */
  margin: 4px 2px; /* هامش الزر */
  cursor: pointer; /* تحويل المؤشر إلى يد عند التحريك فوق الزر */
  border-radius: 10px; /* إضافة زوايا مستديرة للزر */
  position: relative;
    left: 450px;
  }
  .tex1{
    position: relative;
    left: 700px;
  }
  .tex2{
    position: relative;
    left: 700px;
  }
</style>



<br>
<br>
<br>
<br>
<br>
<br>

{% include 'includes/masg.html' %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <h5 class="tex1">email</h5>
    <input type="email" id="id_email" name='email' {% if email_value %} value="{{email_value}}" {% else %}value=""{% endif %}>
    <h5 class="tex2">password</h5>
    <input type="password" id="id_password" name='password'>
    {% comment %} <a href='{% provider_login_url "facebook" %}'>Twitter</a> {% endcomment %}
    <button class="butonnd" id="butonnd-id">supmmet</button>
    <a href='{% url "input_emali_pass" %}' class="tex1" >forget password?</a>
  </form>
  <button  class="butonnd logIN-FAceBO"> Login with Facebook</button>
  <button  class="butonnd LOgin-GoOGle"> Login with Google</button>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}



{% block scripts %}	
<script>
  $("#id_email").change(function() {
    var email = $(this).val();
    var password = $("#id_password").val();

    $.ajax({
			url:'/accounts/login-function/',
			data:{
        'email':email,
			},
			dataType:'json',
      beforeSend:function(){
				
			},
			success: function(data){
        if  (data.is_exist){
          console.log('the email is corrict')
        }
        else {
          alert('the email is not corrict')
        }
        
			}
		});
  });
  
  $(".logIN-FAceBO").click(function() {
    
    $.ajax({
      url:'/accounts/make_temp/',
      data:{
      },
      dataType:'json',
      beforeSend:function(){
        
      },
      success: function(data){
        var url="{% url 'social:begin' 'facebook' %}"
        window.open(url, "_blank", "width=500,height=500,left=700,top=210");
        
        
      }
    });
  });
  
  $(".LOgin-GoOGle").click(function() {
    
    $.ajax({
      url:'/accounts/make_temp/',
      data:{
      },
      dataType:'json',
      beforeSend:function(){
        
      },
      success: function(data){
        var url = "{% url 'social:begin' 'google-oauth2' %}";
        window.open(url, "_blank", "width=500,height=500,left=700,top=210");
      }
    });
  });
  



</script>

{% endblock scripts %}
