{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<title>{% trans "LogIn" %}</title>
<div class="singup">
  <div class="container">
    <h1>{% trans "log in" %}</h1>
    <span class="careat-account"></span>
    <div class="content">
      <div class="manw-sing">
        <h3>{% trans "LOG IN WITH EMAIL ADDRESS" %}</h3>
        <span class="includ-msg">{% include 'includes/masg.html' %}</span>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="field field_v1 email-feld">
              <label for="email" class="ha-screen-reader">{% trans "E-mail" %}</label>
              <input type="email" name='email' id="email-inp" class="field__input inp-email " placeholder="" {% if email_value %} value="{{email_value}}" {% else %}value=""{% endif %} required>
              <span class="field__label-wrap" aria-hidden="true">
                <span class="loader"></span>
                <span class="field__label">{% trans "E-mail" %}</span>
              </span>
            </div>
            <div class="error-text">
              {% if LANGUAGE_CODE == 'en' %}
              <h6>This email is not yet linked to an account</h6>
              
              {% else %}
              <h6>هذ البريد الإلكتروني لم يتم ربطه بحساب بعد</h6>
              {% endif %}
            </div>

            <div class="field field_v1 passw-feld">
              <label for="password" class="ha-screen-reader">{% trans "Password" %}</label>
              <input type="password"  name='password' id="passw-inp" class="field__input inp-passw " placeholder="" required>
              <span class="field__label-wrap" aria-hidden="true">
                <span class="field__label">{% trans "Password" %}</span>
              </span>
            </div>
            <button class="login-btn dis-button" id="butonnd-id">{% trans "log in" %}</button>
            <a href="{% url "input_emali_pass" %}">{% trans "Forgot Password ?" %}</a>
        </form>
      </div>
      <span class="break"></span>
      <div class="social-sing">
        <h3>{% trans "LOG IN WITH SOCIAL MEDIA" %}</h3>
        
        <button class="sinGup-FAceBO">{% trans "log in with facebook" %}<img src="{% static 'images/icons/485746.png' %}" alt=""></button>

        <button class="sinGup-GoOGle">{% trans "log in with Google" %} <img src="{% static 'images/icons/846412.png' %}" alt=""></button>

        <h5>{% trans "DON'T HAVE AN ACCOUNT YET?" %}</h5>
        <a href="{% url "singup" %}">{% trans "singup here " %}<span>
          <img src="{% static 'images/icons/465468.png' %}" alt="">
        </span></a>
      </div>
    </div>
  </div>
</div>

  {% endblock content %}
  




{% block scripts %}	




<script>

  $(document).ready(function(){

    $('.error-text').hide()
    $('.loader').hide()
    
	});

  
  $(".sinGup-FAceBO").click(function() {
        var url="{% url 'social:begin' 'facebook' %}"
        window.open(url, "_blank", "width=500,height=600,left=700,top=210");
        var interval = setInterval(function() {
          $.ajax({
            url:'/accounts/is_popup/',
            data:{
            },
            dataType:'json',
            success: function(data){
              if (data.popup === true){
                  window.location.href='/'
              }
            }
          });
        }, 3500);
  });
  
  $(".sinGup-GoOGle").click(function() {
     //window.location.href="{% url 'social:begin' 'google-oauth2' %}"
        var url = "{% url 'social:begin' 'google-oauth2' %}";
        window.open(url, "0", "width=500,height=600,left=700,top=210");
        var interval = setInterval(function() {
          $.ajax({
            url:'/accounts/is_popup/',
            data:{
            },
            dataType:'json',
            success: function(data){
              if (data.popup === true){
                  window.location.href='/'
              }
            }
          });
        }, 3500)
  });



//Email
  var emailField = document.getElementById('email-inp');
  emailField.addEventListener('input', function() {
    var email = emailField.value;
    var pas = document.getElementById('passw-inp').value;

    $.ajax({
      url:'/accounts/login-function/',
      data:{
        "email":email
      },
      dataType:'json',
      beforeSend:function(){
        $('.loader').show()
      },
      success: function(data){
        if (!data.is_exist){
          $('.error-text').show()
          $('.inp-email').addClass('wrong-input')
        }
        else {
          $('.error-text').hide()
          $('.inp-email').removeClass('wrong-input')
          
        }
        if ( pas.length >= 6 && !$('.inp-email').hasClass('wrong-input')  ){
          $('.login-btn').removeClass('dis-button')
          $('.login-btn').attr('disabled',false);
        }
        else{
          $('.login-btn').addClass('dis-button')
          $('.login-btn').attr('disabled',true);
          
        }
        $('.loader').hide()
      }
    });
  });




//Password
var PassowrdField = document.getElementById('passw-inp');
PassowrdField.addEventListener('input', function() {
  var email = document.getElementById('email-inp').value;
  var password = PassowrdField.value;

  if ( password.length >= 6 && !$('.inp-email').hasClass('wrong-input') && email != '' ){
    $('.login-btn').removeClass('dis-button')
    $('.login-btn').attr('disabled',false);
  }
  else{
    $('.login-btn').addClass('dis-button')
    $('.login-btn').attr('disabled',true);
    
  }
});



</script>

{% endblock scripts %}



