{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<title>{% trans "Reset Pssword" %}</title>

<div class="singup">
  <div class="container">
    <h1>{% trans "Find Your Account" %}</h1>
    <span class="careat-account"></span>
    <div class="content">
      <div class="manw-sing">
        <h3>{% trans "ENTER YOUR ACCOUNT EMAIL" %}</h3>
        <span class="includ-msg">{% include 'includes/masg.html' %}</span>
        <form method="POST">
            {% csrf_token %}

            <div class="field field_v3" email-feld>
              <label for="email" class="ha-screen-reader">{% trans "E-mail" %}</label>
              <input type="email" name="email" id="email-inp" class="field__input inp-email" placeholder=" ">
              <span class="field__label-wrap " aria-hidden="true">
                <span class="loader"></span>
                <span class="field__label">{% trans "E-mail" %}</span>
              </span>
            </div>
          

            <div class="error-text">
              {% if LANGUAGE_CODE == 'en' %}
              <h6>This email address is not yet linked to an account</h6>
              {% else %}
              <h6>هذا البريد الإلكتروني لم يتم ربطه بحساب بعد</h6>
              {% endif %}
            </div>
            <button class="login-btn dis-button" id="butonnd-id">{% trans "search" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

  {% endblock content %}
  




{% block scripts %}	




<script>

  $(document).ready(function(){

    $('.error-text').hide()
    $('.loader').hide()
    
	});


//Email
  var emailField = document.getElementById('email-inp');
  emailField.addEventListener('input', function() {
    var email = emailField.value;

    $.ajax({
      url:'/accounts/login-function/',
      data:{
        "email":email
      },
      dataType:'json',
      beforeSend:function(){
        $('.loader').show()
      },
      success: function(data){
        if (!data.is_exist){
          $('.error-text').show()
          $('.inp-email').addClass('wrong-input')
          $('.field__label-wrap').addClass('red-effect')
        }
        else {
          $('.error-text').hide()
          $('.inp-email').removeClass('wrong-input')
          $('.field__label-wrap').removeClass('red-effect')
          
        }
        if ( !$('.inp-email').hasClass('wrong-input') ){
          $('.login-btn').removeClass('dis-button')
          $('.login-btn').attr('disabled',false);
        }
        else{
          $('.login-btn').addClass('dis-button')
          $('.login-btn').attr('disabled',true);
          
        }
        $('.loader').hide()
      }
    });
  });




</script>

{% endblock scripts %}



