{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .custom {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #343117;
    border-radius: 50px;
    font-size: 16px;
    min-width: 179px;
    height: 46px;
    position: relative;
    left: 450px;
  }


  .butonnd{
    background-color: #4CAF50; /* لون الخلفية */
  border: none; /* إزالة حدود الزر */
  color: white; /* لون النص */
  padding: 15px 32px; /* حجم الزر */
  text-align: center; /* محاذاة النص في الزر */
  text-decoration: none; /* إزالة تأثيرات النص */
  display: inline-block; /* عرض الزر كعنصر مستقل */
  font-size: 16px; /* حجم الخط */
  margin: 4px 2px; /* هامش الزر */
  cursor: pointer; /* تحويل المؤشر إلى يد عند التحريك فوق الزر */
  border-radius: 10px; /* إضافة زوايا مستديرة للزر */
  position: relative;
    left: 450px;
  }
  .tex1{
    position: relative;
    left: 700px;
  }

</style>



<br>
<br>

<br>
<br>
<br>
<br>

{% include 'includes/masg.html' %}
<form action="{% url 'singup' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h5 class="tex1">first name</h5>
    <input type="text" name='first_name' class="custom" required>

    <h5 class="tex1">last name</h5>
    <input type="text" class="custom" name='last_name' >

    
    
    <h5 class="tex1">email</h5>
    <input type="email" class="custom" name='email' >
    
    <h5 class="tex1">username</h5>
    <input type="text" class="custom" name='username' >
    
    <h5 class="tex1">password</h5>
    <input type="password" class="custom" name='password' >

    

    























    <button class="butonnd" id="butonnd-id">supmmet</button>
</form>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}
