{% load static %}


{% for review in reviews %}
    <div class="sengle-review">
        <a class="image" href="">
            <img src="{{review.user.profile_pictuer.url}}" alt="">
        </a>
        <div class="text">
            <div class="rev-heder">
                <a href="">{{review.user.user.full_name}}</a>
                <div id="half-stars-example">
                    <div  style="direction: ltr;" class="rating-group">
                        <label aria-label="0 stars" class="rating__label" for="rating2-0">&nbsp;</label>
                        <label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating2-05"><i {% if review.rating < 0.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                        <label aria-label="1 star" class="rating__label" for="rating2-10"><i {% if review.rating < 1 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating2-15"><i {% if review.rating < 1.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                        <label aria-label="2 stars" class="rating__label" for="rating2-20"><i {% if review.rating < 2 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating2-25"><i {% if review.rating < 2.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                        <label aria-label="3 stars" class="rating__label" for="rating2-30"><i {% if review.rating < 3 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating2-35"><i {% if review.rating < 3.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                        <label aria-label="4 stars" class="rating__label" for="rating2-40"><i {% if review.rating < 4 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating2-45"><i {% if review.rating < 4.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                        <label aria-label="5 stars" class="rating__label" for="rating2-50"><i {% if review.rating < 5 %}style="color: #ddd;"{% endif %}  class="rating__icon rating__icon--star fa fa-star"></i></label>
                    </div>
                </div>
            </div>
            <p class="content">
                {{review.review}}
            </p>
        </div>
    </div>
    {% endfor %}