::selection{
  color: #ffffff;
  background-color: #7182ef;
}




/* Start SingUp Page  */

.singup {
    margin-top: 120px;
    margin-bottom: 130px;
}
.singup .container h1{
  position: relative;
  top: -57px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  width: fit-content;
}
.singup .container  .careat-account{
    background-color: #77777754;
    display: block;
    width: 100%;
    height: 1px;
    position: relative;
    top: -43px;
}

.singup .container .content{
    display: flex;
    justify-content: space-around;
}

.singup .container .content .manw-sing {
    width: 50%;
    position: relative;
    margin-left: -10px;
    
}

.singup .container .content .manw-sing h3{
  margin-bottom: 70px;
  margin-top: -18px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  
}

.singup .container .content .manw-sing h3:nth-child(2){
  color: #5b5a5b;
  margin-top: -45px;
  margin-bottom: 55px;
  font-weight: bold;
  text-align: center;
}

.singup .container .content .manw-sing .includ-msg{
  position: relative;
  top: -25px;
  
}


.singup .container .content .manw-sing form{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.singup .container .content .manw-sing form input{
    height: 75px;
    font-size: 20px;
}

.singup .wrong-input{
  border-bottom: 2.5px solid red;
  z-index: 1;
}

.singup .container .content .manw-sing form .error-text{
  color: #ec1919;
  position: relative;
  top: 8px;
  left: 0;
  text-align: start;
}

  .loader {
  width: 20px;
  height: 20px;
  border: 2px solid #131313;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
  position: relative;
  top: 40px;
  left: 95%;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 


  .loader-password {
  width: 20px;
  height: 20px;
  border: 2px solid #131313;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
  position: relative;
  top: 40px;
  left: 95%;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 




.singup .container .content .manw-sing form .error-text-password{
  color: #ec1919;
  position: relative;
  top: 8px;
  left: 0;
  text-align: start;
}





.singup .container .content .manw-sing form button{
  background-color: #000000;
  color: white;
  padding: 0 3%;
  width: fit-content;
  margin: 40px 20px;
  text-align: center;
  height: 45px;
  align-items: center;
  display: -webkit-inline-flex;
  text-transform: uppercase;
  font-weight: 300;
  transition: 0.3s;
  justify-content: center;
}

.singup .container .content .manw-sing form button:hover{
  background-color: #6979e1;
}


.singup .container .content .manw-sing form .dis-button{
  background-color: rgb(187, 186, 186);
}

.singup .container .content .manw-sing form .dis-button:hover{
  background-color: #afb1b9;
}

.singup .container .content .manw-sing form a{
  color: #131313;
  position: relative;
  left: 280px;
  top: -75px;
  font-weight: 500;
  font-size: 15px;
  width: fit-content;
}



.content .break{
  background-color: #77777754;
  display: block;
  width: 1px;
  height: 449px;
  position: relative;
  top: 23px;
  left: 0px;
}

.singup .container .content .social-sing{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 70px;
}

.singup .container .content .social-sing h3{
  margin-bottom: 70px;
  margin-top: -18px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 1.7;
}


.singup .container .content .social-sing button:first-of-type{
        width: fit-content;
        display: flex;
        flex-direction: column;
        background: none;
        border: 1px solid rgba(76, 74, 74, 0.842);
        font-size: 16px;
        padding: 9px 10px 9px 60px;
        text-align: center;
        text-transform: uppercase;
        height: 48px;
        color: #777;
        margin-bottom: 20px;
        transition: 0.3s;
}
.singup .container .content .social-sing button:first-of-type:hover{
  background-color: #dbdbdb;
}

.singup .container .content .social-sing button:first-of-type img{
  position: relative;
  top: -30px;
  font-size: 20px;
  left: -51px;
  width: 37px;
  padding: 0;
}

.singup .container .content .social-sing button:last-of-type{
      width: fit-content;
      display: flex;
      flex-direction: column;
        background: none;
        border: 1px solid rgba(76, 74, 74, 0.842);
        font-size: 16px;
        padding: 9px 10px 9px 60px;
        text-align: center;
        text-transform: uppercase;
        height: 48px;
        color: #777;
        margin-bottom: 200px;
        transition: 0.3s;
}




.singup .container .content .social-sing button:last-of-type:hover{
  background-color: #dbdbdb;
}

.singup .container .content .social-sing button:last-of-type img{
  position: relative;
  top: -29px;
  font-size: 20px;
  left: -49px;
  width: 36px;
  padding: 0;
}

.singup .container .content .social-sing h5{
      margin-top: -48px;
      font-weight: 600;
      font-size: 18px;
}

.singup .container .content .social-sing a{
  width: 211px;
  display: flex;
  flex-direction: column;
  background: none;
  border: 1px solid rgba(76, 74, 74, 0.842);
  font-size: 20px;
  padding: 7px 14px 28px 61px;
  text-align: center;
  text-transform: uppercase;
  height: 48px;
  color: #777;
  transition: 0.3s;
  margin: 29px auto;
}

.singup .container .content .social-sing a:hover{
  background-color: #dbdbdb;
}
.singup .container .content .social-sing a span{
  position: relative;
  top: -40px;
  padding: 8px 23px 26px 12px;
  font-size: 20px;
  left: -89px;
}
.singup .container .content .social-sing a span img{
  width: 38px;
}



@media (max-width:991px) {
  .singup .container .content{
    flex-direction: column;
    align-items: center;
}
.content .break{
  display: none;
}
.singup .container .content .manw-sing {
  width: 90%;
  margin: 0 auto 20px;
  
}
.singup .container .content .social-sing{
  width: 100%;
  align-items: center;
  margin: 70px auto;
  
}
.singup .container .content .social-sing h5{
  margin-top: -90px;
}

.singup .container .content .manw-sing form button{
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.singup .container .content .social-sing a{
  margin-bottom: -60px;
}
  .loader{
  left: 285px;
}
  .loader-password{
  left: 285px;
}
.singup .container .content .manw-sing form a{
  left: 95px;
    top: 0;
}

}

.flex-w.flex-sb-m.p-b-52{
  padding: 0;
  padding-bottom: 7px;
}
/* End SingUp Page  */


/* Start Messges  */

.mesg-custome-error{
  background-color: #c91b1b;
  width: 100%;
  border: 1px solid #d51c1c;
  border-radius: 2px;
  display: flex;

}

.mesg-custome-error .text{
  color: #f9f9f9;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.mesg-custome-error .text::before{
  content: url(../images/icons/456465.png);
  
  
}



.mesg-custome-success{
  background-color: #4da123;
  width: 100%;
  border: 1px solid #4da123;
  border-radius: 2px;
  display: flex;

}


.mesg-custome-success .text{
  color: #f9f9f9;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.mesg-custome-success .text::before{
  content: url(../images/icons/45655.png);
  
  
}




.mesg-custome-info{
  background-color: #3789b1;
  width: 100%;
  border: 1px solid #3789b1;
  border-radius: 2px;
  display: flex;

}

.mesg-custome-info .text{
  color: #f9f9f9;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.mesg-custome-info .text::before{
  content: url(../images/icons/48764.png);
  
  
}



.mesg-custome-warning{
  background-color: #d18616;
  width: 100%;
  border: 1px solid #d18616;
  border-radius: 2px;
  display: flex;

}

.mesg-custome-warning .text{
  color: #f9f9f9;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.mesg-custome-warning .text::before{
  content: url(../images/icons/786445.png);
  
  
}


/* End Messges */

/* Start Input Validation Code Page  */

.singup .container .content .manw-sing .code-form {
  padding: 33px;
  border-radius: 4px;
  box-shadow: 0 10px 10px #b9bccded;
  max-width: 600px;
  background: #e2e3eb;
  padding: 95px 66px 75px;
  margin-top: 17px;
  

  
  .form-control {
    display: block;
    height: 70px;
    margin-right: 0.5rem;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    min-width: 0;
    transition: 0.3s;
  }
}

.singup .container .content .manw-sing .code-form .form-control:focus{
  box-shadow: 0 0 10px 4px #939cd6;
}


.singup .container .content .code-valdia{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.singup .container .content .code-valdia .resend-btn{
  background-color: #000000;
  color: white;
  padding: 27px 23px;
  width: 300px;
  margin: 40px 20px;
  text-align: center;
  height: 45px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
}
.singup .container .content .code-valdia .resend-btn:hover{
  background-color: #6979e1;
}

.singup .container .content .code-valdia .resend-btn-dis{
  background-color: rgb(187, 186, 186);
  
}
.singup .container .content .code-valdia .resend-btn-dis:hover{
  background-color: rgb(183, 185, 188);
}





.singup .container .content .code-valdia .hedden-btn{
  visibility: hidden;
}


@media (max-width:991px) {
  .singup .container .content .manw-sing .code-form{
        max-width: 600px;
        padding: 58px 18px 54px;
  }
  .singup .container .content .manw-sing .code-form .form-control{
    height: 50px;
    font-size: 30px;
    font-weight: 800;
  }
}

.singup .container .content .manw-sing .code-form .err-input{
  border: 2px solid #f41f1f;
  border-radius: 4px;
}
.singup .container .content .manw-sing .code-form .err-input:focus{
  box-shadow: 0 0 8px 3px #f41f1f;
  border: 2px solid #f41f1f;
  border-radius: 4px;
}


.singup .container .content .code-valdia .vibration{
  animation: vibration 0.1s  6;
  animation-play-state: unset;
  position: relative;
  
  }

  @keyframes vibration {
  0% {
      
  }
  50% {
      transform: translateX(8px);
      
  }
  100% {
      
      transform: translateX(-8px);
  }
}

.singup .container .content .code-valdia .loader-validation {
  width: 20px;
  height: 20px;
  border: 2px solid #131313;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
  position: relative;
  top: 23px;
  left: 47%;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  .singup .container .content .code-valdia .valdition-info{
    background-color: #727ed3;
    width: 100%;
    border: 1px solid #727ed3;
    border-radius: 29px;
    display: flex;

  }


  .singup .container .content .code-valdia .valdition-info{
    color: #f9f9f9;
    font-weight: 500;
    display: flex;
    align-items: center;
    
  }


    .singup .container .content .code-valdia .valdition-info::before{
      content: url(../images/icons/786445.png);
    }

  .singup .container .content .code-valdia .valdition-info span:not(.text){
    font-weight: bold;
    font-size: 23px;
    border-bottom: 1px solid white;
  }




  .singup .container .content .code-valdia .loader-btn-valid {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: #FFF;
    left: -110px;
    box-sizing: border-box;
    animation: shadowRolling 2s linear infinite;
  }
  
  @keyframes shadowRolling {
    0% {
      box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    12% {
      box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    25% {
      box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    36% {
      box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
    }
    62% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
    }
    75% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
    }
    87% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
    }
    100% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
    }
  }


/* End Input Validation Code Page  */


/* Start New Password Page  */

  .singup .container .content .manw-sing form .close-eye img {
    background: none;
    position: absolute;
    width: 26px;
    top: 29px;
    left: -32px;
    
  }
  
.singup .container .content .manw-sing form .close-eye {
  background: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    position: relative;
    
  }
  
  
  .singup .container .content .manw-sing form .hedden{
    visibility: hidden;
  }
  /* End New Password Page  */









  /* Start Products  */

  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");


  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    user-select: none;
    & > * {
      margin: .5rem 0.5rem;
    }
  }
  
  
  
  .checkbox-group-legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: #9c9c9c;
    text-align: center;
    line-height: 1.125;
    margin-bottom: 1.25rem;
  }


  .checkbox-icon img{
    width: 58%;
    position: relative;
  }
  .checkbox-icon .spetcila{
    width: 94%;
    position: relative;
  }
  
  .checkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
  }

  .checkbox-input:checked + .checkbox-tile {
    background-color: #9ba6ff;
  }
  
  .checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: #2c2c2c;
  }




  .checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 50px;
    margin-left: 14px;
    margin-bottom: 15px;
    border-radius: 0px;
    border: 1px solid #e0e0e0;
    background-color: #fbfbfb;
    transition: 0.3s ease;
    cursor: pointer;
    position: relative;
  
  }

  .checkbox-tile:hover {border-color: #7d8dff;}
    
  .checkbox-tile .checkbox-label {color: #393939;
    transition: .375s ease;}



.checkbox-icon{
  display: flex;
    justify-content: center;
}
  
  .checkbox-label {
    color: #707070;
    transition: .375s ease;
    text-align: center;
    position: absolute;
    top: 44px;
    font-weight: 600;
    font-size: 13px;
    text-transform: lowercase;
    display: none;
  }
  
  .conTEnt-storBy{
    margin-top: 35px;
  }

  .conTEnt-storBy .text{
    display: flex;
    position: absolute;
    top: 137px;
    width: 94% ;
  }
  .conTEnt-storBy .text h2:nth-child(1){
    margin-right: 15px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
    
  }
  .conTEnt-storBy .text h2:nth-child(2){
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
  }


  @media (max-width:991px){
    .conTEnt-storBy .text{
      top: 89px;
      left: 20px;
    }
    .conTEnt-storBy h2:nth-child(1){
      font-size: 16px;
      
    }
    .conTEnt-storBy h2:nth-child(2){
      font-size: 17.5px;;
    }
    .conTEnt-storBy{
      justify-content: center;
      margin-top: 35px;

    }
    .checkbox-tile{
      width: 40px;
      height: 40px;
      margin-bottom: -8px;
    }
    .checkbox-icon img,
    .checkbox-icon .spetcila{
      top: 0;
    }
  }


  /* Start Filter  */

  .hidden{
    visibility: hidden;
  }








ul.ks-cboxtags {
    list-style: none;
    padding: 1px 0 28px 40px;
    margin-left: -35px;
}


ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 0 12px;
    cursor: pointer;
    width: fit-content;
}

ul.ks-cboxtags li label:not(.color-filter):before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f00c";
    transition: transform .3s ease-in-out;
}


ul.ks-cboxtags li input[type="checkbox"]:checked + label:not(.color-filter)::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #707fe0;
    background-color: #707fe0;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #5b88cc;
}



/* range  */

@import url(https://fonts.googleapis.com/css?family=Dosis:700);

.value {
  border-bottom: 4px dashed #c2c2c2;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  width: 80px;
  height: 48px;
  line-height: 60px;
  margin: -5px auto;
  letter-spacing: -.07em;
  background-color: transparent;
  color: #666666;
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #a9aab6;
  width: 270px;
  height: 2.5px;
  border-radius: 55px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ebebeb;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #707fe0;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #707fe0;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.2);
  }

  .price-flter-btn{
    background-color: #707fe0;
    padding: 5px 20px;
    color: white;
    border: 1px solid;
    border-radius: 18px;
    margin-top: 17px;
    margin-left: 75px;
  }

  .number-prises{
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #7b7b7b;
  }

  ul.ks-cboxtags li .color-filter{
    width: fit-content;
    height: 14px;
  }
  

  .title-flter-color{
    padding-left: 28px;
  }

/* range  */
 /* End Filter  */


/* modal  */



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


.section{
  position: relative;
  width: 100%;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}



.modal-btn:checked + label,
.modal-btn:not(:checked) + label{
  width: 0;
  height: 0;
}

.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil{
	margin-left: 10px;
}


.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after{
  position: fixed;
    top: 20px;
    right: 25px;
    z-index: 1500;
    width: 40px;
    border-radius: 50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    background-color: #c9d0fd;
    color: #0f0f0f;
    font-family: FontAwesome;
    content: '\f00d'; 
  box-shadow: 0 12px 25px 0 rgba(16,39,112,.25);
  transition: all 0.1s linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}


.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after{
  background-color: #060606;
  color: #fefefe;
}
.modal-btn:checked + label:after{
  transition: opacity 0.1s 0.1s ease, transform 0.1s 0.1s ease, background-color 0.1s linear, color 0.1s linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.modal{
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-x: hidden;
  background-color: #0c0d17cc;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s 0.1s ease;
}

.modal-btn:checked ~ .modal{
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #fefefe;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
  opacity: 0;
  transition: opacity 0.2s 0.2s ease, transform 0.2s 5s ease;
}





.modal-btn:checked ~ .modal .modal-wrap{
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s 0.4ms ease, transform 0.3s 0.4s ease;
}


@media (max-width:991px) {
  .modal{
    overflow: scroll;
  }
  .modal-btn:checked + label:after,
  .modal-btn:not(:checked) + label:after{
    top: -1px;
    right: 15px;
  }

}







/* modal  */





/* check box hart  */
.hartcont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.hartcont {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 100ms;
}

.checkmark {
  top: 0;
  left: 0;
  height: 0;
  width: 28px;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.hartcont input:checked ~ .checkmark path {
  fill: #7787f1;
  stroke-width: 0;
}

.hartcont input:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}

.hartcont:hover {
  transform: scale(1.1);
}

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.counTfaVE-dis{
  font-size: 13px;
  padding: 3px 10px 0;
  font-weight: 700;
}

.hart-popup{
  width: 20px;
  position: relative;
  top: -6px;
}
.breck-popup-active{
  width: 1px;
  height: 20px;
  background-color: #b6b6b6;
  position: relative;
  left: -2px;
}

/* check box hart  */


 

/* stars rating  */







  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: -webkit-inline-flex;
  }
  
  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }
  
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 20px;
  }

  /* add padding and positioning to half star labels */
  .rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2;
  }
  
  /* set default star color */
  .rating__icon--star {
    color: #fdbd0d;
  }
  
  /* set color of none icon when unchecked */
  .rating__icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  
  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star,
  .rating-group:hover .rating__label--half .rating__icon--star {
    color: #fdbd0d;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star,
  .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
  }
  
  /* make none icon grey on rating group hover */
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
  }

/* End rating  */


.ajaxLoader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2.5px solid #929292;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 






.loadmore-loder {
  width: 32px;
  height: 32px;
  border: 5px dotted #b4b4b4;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 




  /* End Products  */



  /* product details */
  .disp-none{
    transition: 0.5s;
    display: none
    
  }

  .addcart-null{
    background-color: #d1d2d2;
  }

  .addcart-null:hover{
    background-color: #d1d2d2;
  }




  .color-loader {
    width: 20.5px;
    height: 20.5px;
    border-radius: 50%;
    position: relative;
    animation: rotate 0.5s linear infinite;
  }
  .color-loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 2.7px solid #4c4c4c;
    animation: prixClipFix 2s linear infinite ;
  }

  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }




  .modal-wrap .input-rev textarea {
    width: 90%;
    resize: none;
    outline: none;
    background-color: #fff;
    overflow: hidden;
    border: 2px solid #d1d1d1;
    padding: 13px 11px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: 0.2s;
    
  }


  .modal-wrap .input-rev textarea::-webkit-scrollbar {
    width: 2.5px;
  }
 
  .modal-wrap .input-rev textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .modal-wrap .input-rev textarea::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
    border-radius: 5px;
  }
  
  
  
  .modal-wrap .input-rev textarea::placeholder{
    font-size: 13px;
    font-weight: 500;
    color: #b6b6b6;
    text-transform: capitalize;
  }
  
  
  
  
  
  
  
  .stars-and-deletbtn{
    display: flex;
    justify-content: space-between;
  }
  
  
  .stars-and-deletbtn .DelETE-Btn{
    background-color: #df3b3b;
    margin: 52px 17px -5px 0;
    padding: 6px 12px;
    color: white;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.3s;
  
  }
  .stars-and-deletbtn .DelETE-Btn:hover{
    background-color: #b03030;
  }


  .stars-and-deletbtn .disple{
    background-color: #dcc8c8;
  }

  .stars-and-deletbtn .disple:hover{
    background-color: #dcc8c8;
  }

  



.container .reviews-list{
  display: flex;
  flex-direction: column;
}
.container .reviews-list .ADD-reVEw-Btn{
  width: fit-content;
			background-color: black;
			color: white;
			padding: 10px 22px;
			border-radius: 47px;
			font-size: 15px;
			font-weight: 600;
			text-transform: uppercase;
      transition: 0.3s;

}

.container .reviews-list .ADD-reVEw-Btn:hover{
  background-color: #777777;
}

.container .reviews-list .sengle-review{
  width: fit-content;
  margin: 18px 0px 0 0px;
  border-radius: 13px;
  display: flex;
  max-width: fit-content;
}
.container .reviews-list .sengle-review .image{
  width: fit-content;
  margin-right: 7px;

}
.container .reviews-list .sengle-review .image img{
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.container .reviews-list .sengle-review .text{
  background-color: #ededed;
  padding: 16px;
  border-radius: 10px;

}

.container .reviews-list .sengle-review .text .rev-heder a{
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 500;

}
.container .reviews-list .sengle-review .text .rev-heder #half-stars-example{
  margin: 0 -16px;

}
.container .reviews-list .sengle-review .text .content{
  width: fit-content;
  font-size: 16px;
  font-weight: 400;
  overflow-wrap: anywhere;

}

#lod-more-rev{
  background-color: dimgrey;
  width: 100px;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: -25px;
  margin-top: 30px;
  font-size: 14px;
  position: relative;
  left: 55px;
}


.loader-revus {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
}
.loader-revus::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 




.modal-wrap .input-rev {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}


.input-rev .modal-footer{
  width: 17%;
  justify-content: center;
  align-items: center;
  border: none;
}



.input-rev .modal-footer .edIT-BTn{
  background-color: #4b5cde;
  width: fit-content;
  display: flex;
  margin-right: -28px;
  margin-left: -8px;
  align-items: center;
  padding: 5px 12px;
  color: white;
  border-radius: 23px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
  letter-spacing: 1px;
  
}


.input-rev .modal-footer .edIT-BTn:hover{
  background-color: #45519e;
}






.input-rev .modal-footer .submMIt-bTN{
  background-color: #717fe0;
  width: fit-content;
  display: flex;
  margin-right: -28px;
  margin-left: -8px;
  align-items: center;
  padding: 5px 12px;
  color: white;
  border-radius: 23px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
  letter-spacing: 1px;

}

.input-rev .modal-footer .submMIt-bTN:hover{
  background-color: #45519e;
}


.input-rev .modal-footer .submMIt-bTN img{
  width: 30px;
  transform: scale(-0.5);
  margin: -11px -6px -11px -4px;
  order: -1;
  

}

.input-rev .textar-sec{
  width: 75%;
  display: flex;
  flex-direction: column;
}

.input-rev .textar-sec .toolpar{
  width: 90%;
}
.input-rev .textar-sec .toolpar .back-g{
  background-color: #cbcbcb;
  height: 21px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.input-rev .textar-sec .toolpar .imoje-btn{
  position: relative;
  top: -22px;
  left: 18px;
}
.input-rev .textar-sec .toolpar .imoje-btn i{
  color: rgb(41, 41, 41);
}



.pls-rgstr-revewis{
      width: fit-content;
    background-color: #9e9e9e;
    color: white;
    padding: 10px 22px;
    border-radius: 47px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}



@media (max-width:991px) {
  
}
  
  /* end product details */



/* start cart  */



.loader-check-btn {
  position: relative;
  width: 35px;
  height: 43px;
  border-radius: 10px;
}

.loader-check-btn div {
  width: 8%;
  height: 24%;
  background: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader-check-btn .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader-check-btn .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader-check-btn .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader-check-btn .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader-check-btn .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader-check-btn .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader-check-btn .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader-check-btn .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader-check-btn .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader-check-btn .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader-check-btn .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader-check-btn .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}

.dis-chickaout{
  background-color: #bdbdbd;
  transition: 0.2s !important;
}
.dis-chickaout:hover{background-color: #c2c2c2;}


.warning-cart-messg{
  background-color: #dc9c2f;
  width: 100%;
  margin-top: 15px;
  border-radius: 9px;
  
}
.warning-cart-messg div{
  display: flex;
  justify-content: center;
  align-items: center;

}
.warning-cart-messg div img{
  width: 55px;

}
.warning-cart-messg div h2{
  color: #f8f2e8;
  font-size: 24px;
  margin: -6px;

}
.warning-cart-messg p{
  margin-top: -5px;
  padding: 0px 17px 6px;
  color: #f8f2e8;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;

}

/* end cart  */



/* start chekout  */

.chekout-title{
  position: relative;
  top: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  width: fit-content;
  margin-top: 30px;
  color: #5b5b5b
}
.chekout-line{
  background-color: #77777754;
    display: block;
    width: 100%;
    height: 1px;
    position: relative;
    top: 0;
    margin-bottom: 50px;
    margin-top: 10px;
}
.chekout{
  display: flex;
  gap: 108px;
}


.checkout-form{
  border: 1px solid #e6e6e6;
  width: 50%;
  height: fit-content;
  padding: 15px;
  margin-bottom: 30px;
}

.checkout-form h4:nth-child(1){
  text-align: center;
  color: #5b5b5b;
  font-weight: 400;
}


.checkout-fealds{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}




.custom-field {
  position: relative;
  width: 50%;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  display: inline-block;
  --field-padding: 12px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 16px;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #aaa;
  transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}



/* ONE */
.custom-field.one input {
  background: none;
  width: 100%;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field.one input + .placeholder {
  left:auto;
  padding: 0 5px;
  margin: 0 18px;

}

.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
  border-color: #222;
  transition-delay: 0.1s
}

.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: 0;
  font-size: 12px;
  color: #222;
  background: #ffffff;
  width: auto
}





.chek-input{
  position: relative;
  width: 50%;
  
}



.chek-input label{
  position: absolute;
  top: 28px;
  left: auto;
  transform: translateY(-50%);
  color: #b1b1b1;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s;
  margin: 0 30px;
}


.chek-input textarea{
  width: 200%;
  height: 100px;
  font-size: 17px;
  padding: 13px 16px;
  padding-right: 28px;
  border: 2px solid #ddd;
  background: white;
  color: #252525;
  outline: none;
  transition: 0.1s;
  margin: 19px 0;
  border-radius: 3px;
  resize: none;
  outline: none;
}





.chek-input textarea:focus{
  border: 2px solid #00000090;
}
.chek-input textarea:valid{
  border: 2px solid #00000090;
}

.chek-input textarea:focus ~ label,
.chek-input textarea:valid ~ label   {
  top: 0;
  font-size: 12px;
  color: #222;
  background: #ffffff;
  width: auto
  
}

.chek-input textarea::-webkit-scrollbar{width: 4px;}


.chek-input textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.chek-input textarea::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 5px;
}

.checkout-cart{
  width: 42%;
}
.info-chek{
  border: 1px solid #e6e6e6;
  border-top: transparent;
  padding: 23px;
  margin-bottom: 35px;
  height: 195px;
}




@media (max-width:991px) {
  .chekout{flex-direction:column;}
  .checkout-form{width: 100%;order: 1;}
  .checkout-cart{width: 100%;}
}



.chek-text{
    width: 100%;
    text-align: center;
    padding: 30px;
  }
  .chek-text h2{
    font-size: 23px;
    font-weight: 700;
    text-transform: capitalize;
    color: #545454;
    line-height: 1.3;
  }

  .chek-chioes-ping{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .chek-chioes-ping img{
    width: 280px;
    padding: 5px;
    margin: -26px 0 20px 0;
  }

  .chek-choies{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }


  
  .chek-choies #py-Paypal{
    width: 20%;
    background-color: #0084db;
    height: 43px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s;
    padding-top: 2px;
    font-weight: 500;
  }
  .chek-choies #py-Paypal:hover{
    background-color: #09456e;
  }
  .chek-choies #py-Paypal i{
    font-size: 16px;
    
  }



  .chek-choies #py-Stripe{
    width: 20%;
    background-color: #554f96;
    height: 43px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s;
    padding-top: 2px;
    font-weight: 500;
  }
  .chek-choies #py-Stripe:hover{
    background-color: #232142;
  }
  .chek-choies #py-Stripe i{
    font-size: 16px;
    
  }






  .chek-choies #py-OfLine{
    width: 34%;
    background-color: #ed6b3d;
    height: 43px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s;
    padding-top: 2px;
    font-weight: 500;
  }
  .chek-choies #py-OfLine:hover{
    background-color: #8c3d20;
  }
  .chek-choies #py-OfLine i{
    font-size: 16px;
    
  }



/* end chekout  */


/* strat order complete  */

.oreder-compelete{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.oreder-compelete i{
  font-size: 105px;
  color: #18a418;
  font-weight: 500;
  margin: 17px 0;
}

.oreder-compelete .text{
  width: 100%;
  text-align: center;
}
.oreder-compelete .text h2{
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color: #333333;
}
.oreder-compelete .text p{
  font-size: 17px;
  margin-top: 12px;
  color: #6d6d6d;
  text-transform: capitalize;
}
.oreder-compelete img{
  width: 365px;
}

.bill{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

.bill .invoice-from li{
  border-bottom: 1px solid #dadada;
  padding-bottom: 2px;

}

.buttons-bill{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: -35px;
}

.buttons-bill a{
  background-color: rgb(31, 31, 31);
  margin: 8px auto;
  color: white;
  padding: 11px;
  border-radius: 5px;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s;

}
.buttons-bill a:hover{
  background-color: #535ea4;

}












.spinner {
  --clr: #707fe0;
  color: #eeeeee00;
  --gap: 6px;
    /* gap between each circle */
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
 }
 
 .spinner span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--clr);
  opacity: 0;
 }
 
 .spinner span:nth-child(1) {
  animation: fade 1s ease-in-out infinite;
 }
 
 .spinner span:nth-child(2) {
  animation: fade 1s ease-in-out 0.33s infinite;
 }
 
 .spinner span:nth-child(3) {
  animation: fade 1s ease-in-out 0.66s infinite;
 }
 
 @keyframes fade {
  0%, 100% {
   opacity: 1;
  }
 
  60% {
   opacity: 0;
  }
 }
 
/* end order complete  */




/* start blog */



.comments-body{
  
}
.comments-body .heder-system{
  display: flex;
  gap: 15px;

}
.comments-body .heder-system img{
  width: 46px;
  border-radius: 50%;
  height: 46px;

}
.comments-body .heder-system .input-fld{
  width: 100%;

}
.comments-body .heder-system .input-fld textarea{
  width: 100%;
  resize: none;
  outline: none;
  height: 50px;
  background-color: #fff;
  overflow: hidden;
  border: 2px solid #d1d1d1;
  padding: 5px 5px;
  border-radius: 10px;
  transition: 0.2s;
  padding-top: 10px;
  

}



.comments-body .heder-system .input-fld textarea::-webkit-scrollbar {
  width: 2.5px;
}

.comments-body .heder-system .input-fld textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.comments-body .heder-system .input-fld textarea::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 5px;
}



.comments-body .heder-system .input-fld textarea:focus{
  border: 2px solid #1366ba;
}




.comments-body .heder-system .input-fld .buttons{
  width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;

}
.comments-body .heder-system .input-fld .buttons .imojy button{

}
.comments-body .heder-system .input-fld .buttons .imojy button i{
  color: #393939;
  font-size: 16px;

}


.comments-body .heder-system .input-fld .buttons .comment-meiion  {
  display: flex;
  justify-content: space-between;
  display: flex;
  width: fit-content;
  justify-content: space-between;
  gap: 12px;

}
.comments-body .heder-system .input-fld .buttons .comment-meiion button:nth-child(1) {
  background-color: #eee;
  padding: 5px;
  border-radius: 40px;
  font-weight: 600;
  text-transform: capitalize;

}

.comments-body .heder-system .input-fld .buttons .comment-meiion button:nth-child(2){
  background-color: #707fe0;
  padding: 5px;
  border-radius: 40px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  transition: 0.3s;

}
.comments-body .heder-system .input-fld .buttons .comment-meiion button:nth-child(2):hover{
  background-color: #7d83a7;

}




.comments-body .base-comment{
  display: flex;
    flex-direction: column;
    margin-bottom: 22px;

}
.comments-body .base-comment .the-comment{
  display: flex;
    gap: 8px;
    flex-direction: row;

}

.comments-body .base-comment .image{

}
.comments-body .base-comment .image img{
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin-top: -8px;
  
}


.comments-body .base-comment .data-commetn h2{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 4px;

}
.comments-body .base-comment .data-commetn p{
  width: fit-content;
  font-weight: 600;
  font-size: 16px;
  overflow-wrap: anywhere;

}
.comments-body .base-comment .data-commetn .buttons{
  display: flex;
  gap: 15px;

}
.comments-body .base-comment .data-commetn .buttons button:nth-child(1){
  background-color: transparent;
  color: #737373;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
  border-radius: 10%;
  height: fit-content;
  padding: 1px 4px;

}
.comments-body .base-comment .data-commetn .buttons button:nth-child(1):hover{
  background-color: #dbdbdb;

}
.comments-body .base-comment .data-commetn .buttons button:nth-child(2){
    padding: 1px 4px;
    border-radius: 40px;
    font-weight: 400;
    text-transform: lowercase;
    color: #0e0202;
    width: fit-content;
    font-size: 14px;
    transition: 0.2s;
    height: fit-content;
}
.comments-body .base-comment .data-commetn .buttons button:nth-child(2):hover{
  background-color: #9aa4e0;
}



.comments-body .base-comment .replay{
  width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.comments-body .base-comment .replay .heder-2{
  width: 90%;
}

.comments-body .base-comment .replay img{
  width: 33px;
  height: 33px;
  margin-top: 19px;
}

.comments-body .base-comment .replay .content-2{
  width: 90%;
}

.label-reply4comment{
    width: fit-content;
    margin: 0;
    position: relative;
    top: 10px;
    left: 20px;
    background-color: white;
    font-size: 13px;
    font-weight: 700;
    color: #5864af;
}


.dele-option{
  background-color: transparent;
  color: #737373;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
  border-radius: 10%;
  height: fit-content;
  padding: 1px 4px;
  color: #df1111;
}

.if-no-comments{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}
.if-no-comments h1{
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: -15px;
  text-align: center;
  margin-top: 65px;

}
.if-no-comments img{
  width: 160px;

}


.teg-page-lable{
    width: 100%;
    margin-bottom: 15px;
    margin-bottom: 30px;
}
.teg-page-lable h1{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.teg-page-lable span{
  color: #707fe0;
  font-weight: 700;
  text-decoration: underline;
}

.notifict-bell{
  color: #434343;
  font-size: 28px;
  cursor: pointer;
}
.notific-scour{
  width: 10px;
  background-color: #e62222;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  color: #e62222;
  padding: 3px;
  font-weight: 600;
  font-size: 4px;
}
/* end blog */



/* start base  */
.user-profile-img-base{
  width: 30px;
  border-radius: 50%;
}
.user-profile-name-base{
  font-size: 13px;
}
.change-lang-btn{
  background-color: #222221;
  color: rgb(177, 177, 177);
  padding: 10px 20px;
	cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  
}
.change-lang-btn:hover{
  color: #6d7de1;
}

@media(max-width:991px){
  .user-profile-img-base{
    width: 27px;
  }
  .change-lang-btn{
    padding: 0px 20px;
  }
}

/* end base  */




/* start user profile  */

.edit-profile-btn{
  background-color: #d77131;
  border-radius: 1px;
  font-weight: 600;
  border-color: #d77131;
  transition: 0.3s;
}
.edit-profile-btn:hover{
  background-color: #a8531e;
  
}
.chang-pass-btn{
  background-color: #24b3cd;
  border-radius: 1px;
  font-weight: 600;
  transition: 0.3s;
}


.section-tabel-profile h1{
  font-size: 30px;
  color: #4f4f4f;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
.section-tabel-profile table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(30, 3, 3, 0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(245, 245, 245, 0.502);
}
.section-tabel-profile th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #757575;
  font-weight: 700 !important;
}
.section-tabel-profile td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: bold;
  font-size: 12px;
  color: #555555;
  border-bottom: solid 1px #eee;
}


/* demo styles */


.section-tabel-profile{
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}
.section-tabel-profile{
  margin: 27px 0 28px 0;
  padding-top: 25px;
  border-radius: 7px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #000000;
}

.made-with-love a {
  color: #190000;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

.section-tabel-profile::-webkit-scrollbar {
    width: 6px;
} 
.section-tabel-profile::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
.section-tabel-profile::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}





.rounded-circle{
  width: 250px;
  height: 260px;
  border: 2px solid #f7f7f7;
}


.logout-link li{
  background-color: rgb(255, 255, 255);
  
}
.logout-link li span{
  color: #505050 !important;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 17px;
  transition: 0.2s;
}
.logout-link li i{
  font-size: 21px;
  color: #505050;
  transition: 0.2s;
}


.logout-link li:hover i,
.logout-link li:hover span{
  color: #f10d0d !important;
  
}




/* end user profile  */

/* start edit profile  */
.edit_profile_img{
  width: 230px;
  height: 240px;
  border-radius: 50%;
  border: 2px solid #f2f2f2;

}

.uplud-new-img-btn{
  background-color: #6f6f6f;
  color: white;
  padding: 7px;
  border-radius: 1px;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.2s;
  height: 37px;
}
.uplud-new-img-btn:hover{
  background-color: #474747;
}

.delet-imge-btn{
  background-color: #d51d1d;
  color: white;
  padding: 7px;
  border-radius: 1px;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.2s;
  height: 37px;
}
.delet-imge-btn:hover{
  background-color: #981b1b;
}






.input-fled-editprofile{
  font-weight: 600;
  border-radius: 0;
  border: 2px solid #d9d9d9;
  height: 45px;
}
.input-fled-editprofile:focus{
  border-color: #222222;
}
.input-fled-editprofile::placeholder{
  color: #aeaeae;
  font-size: 14px;
  font-weight: 500;
}
/* end edit profile  */

/* start saidbar cart  */

.body-sidcart{
  padding: 0 15px 0 25px;
}
.cls-color-size-base{
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}
.cls-color-size-base p{
  font-weight: 400 !important;
}

.header-cart-item-name.edit{
  margin-top:-10px;
  font-weight: bold !important;
}

/* end saidbar cart  */




.field__input{ 
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

/*
=====
CORE STYLES
=====
*/


.field__input{
  box-sizing: border-box;
  width: var(--fieldWidth, 100%);
  height: var(--fieldHeight, 3rem);
  padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));  
}

.field__input:focus{
  outline: none;
}

.field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field__label-wrap{
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 17px;
  color: #bebbbb;
}

.field__label-wrap::after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.field__input:focus ~ .field__label-wrap::after{
  opacity: 1;
  
}

.field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  top: calc(50% - .5em);
  

  line-height: 1;
  font-size: var(--fieldHintFontSize, inherit);

  transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
}
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label,
.field__input:focus ~ .field__label-wrap .field__label{
  --fieldHintFontSize: var(--fieldHintFontSizeFocused, .99rem);

  top: var(--fieldHintTopHover, .65rem);
}

/* 
effect 1
*/

.field_v1 .field__label-wrap::after{
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transition: opacity .2s ease-out;
}

/* 
effect 2
*/

.field_v2 .field__label-wrap{
  overflow: hidden;
}

.field_v2 .field__label-wrap::after{
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transform: translate3d(-105%, 0, 0);
  transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
}

.field_v2 .field__input:focus ~ .field__label-wrap::after{
  transform: translate3d(0, 0, 0);
  transition-delay: 0;
}

/*
effect 3
*/

.field_v3 .field__label-wrap::after{
  border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transition: height .2s ease-out, opacity .2s ease-out;
}

.field_v3 .field__input:focus ~ .field__label-wrap::after{
  height: 100%;
}


.field_v3 .red-effect::after{
  border: var(--uiFieldBorderWidth) solid red;
  transition: height .2s ease-out, opacity .2s ease-out;
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field{
  --fieldBorderColor: #777;
  --fieldBorderColorActive: #7182ef
  ;
}





