{% load static %}
{% load i18n %}

<style>

    .filter-col2{margin-left: 54px;margin-right: -18px;}
    @media (max-width:991px) {
        .wrap-filter.flex-w.bg6.w-full{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .flter-mobile{
            align-items: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 25px !important;
        }
        .mtext-102{margin-top: 10px}
        .filter-col4{width: 90% !important;}
        .filter-col3{width: 90% !important;}
        .filter-col2{width: 90% !important;margin-left: 0 !important;margin-right: 0 !important;}
        .price-flter-btn{margin: 20px 262px;}
        .price-flter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .color-filter{margin: 0 !important;}
        
    }
</style>
{% if LANGUAGE_CODE == 'ar' %}
<style>
    .filter-col2{margin-left: -2px !important;margin-right: 34px;}
    .price-flter-btn{margin-right: 56px;}
    @media (max-width:991px) {
        .price-flter-btn{margin-right: 250px;}
    }
</style>
{% endif %}

    <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">

        
        <div class="filter-col4 p-b-27">
            <div class="mtext-102 cl2 p-b-15">
                {% trans "Categories" %}
            </div>
            <ul class="ks-cboxtags flter-mobile">
                {% for cat in category %}
                {% if LANGUAGE_CODE == 'en' %}
                <li><input type="checkbox" class="filter-checkbox" id="{{cat.category_name}}" data-filter="category" value="{{cat.id}}"><label for="{{cat.category_name}}">{{cat.category_name}}</label></li>
                {% else %}
                <li><input type="checkbox" class="filter-checkbox" id="{{cat.category_name_ar}}" data-filter="category" value="{{cat.id}}"><label for="{{cat.category_name_ar}}">{{cat.category_name_ar}}</label></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        
        
        
        <div class=" filter-col2 p-r-15 p-b-27" style="order: 1;">
        <div class="mtext-102 cl2 p-b-15">
            {% trans "Color" %}
        </div>
        <ul class="ks-cboxtags flter-mobile">
            <div style="margin: 0 23px;" class="color-filter">
                {% for color in colors %} 
                        <li ><input type="checkbox"   class="filter-checkbox" id="{{color.colors__color_name}}" data-filter="color" value="{{color.colors__id}}"><label class="color-filter" style="background-color: {{color.colors__color_code}};" for="{{color.colors__color_name}}"></label></li>
                {% endfor %}
            </div>
        </ul>

    </div>
    
    
    
    <div class="filter-col2 p-r-15 p-b-27 price-flter" style="order: 1;margin: 0 29px;">
        <div class="mtext-102 cl2 p-b-15">
            {% trans "Price" %}
            </div>
            <input  class="value" type="nupmer" onkeyup="rangeInput.value=this.value" id="maxPrice" min="{{minMaxPrice.price__min}}" max="{{minMaxPrice.price__max}}" value="{{minMaxPrice.price__max}}"/>&nbsp;
            <input type="range" id="rangeInput" min="{{minMaxPrice.price__min}}" max="{{minMaxPrice.price__max}}" oninput="maxPrice.value=this.value" step="1" value="{{minMaxPrice.price__max}}">
            <p class="number-prises">{{minMaxPrice.price__min}} - {{minMaxPrice.price__max}}</p>
            <button id="priceFilterBtn" class="price-flter-btn">Filter</button>
        </div>
        



        <div class="filter-col3 p-r-15 p-b-27">
            <div class="mtext-102 cl2 p-b-15">
                {% trans "Sizes" %}
            </div>
            <ul style="margin: 0px -45px;" class="ks-cboxtags flter-mobile">
                {% for size in sizes %}
                    {% if LANGUAGE_CODE == 'en' %}
                    <li><input type="checkbox" class="filter-checkbox" id="{{size.sizes__size_name}}" data-filter="size" value="{{size.sizes__id}}"><label for="{{size.sizes__size_name}}">{{size.sizes__size_name}}</label></li>
                    {% else %}
                    <li><input type="checkbox" class="filter-checkbox" id="{{size.sizes__size_name_ar}}" data-filter="size" value="{{size.sizes__id}}"><label for="{{size.sizes__size_name_ar}}">{{size.sizes__size_name_ar}}</label></li>
                    {% endif %}
                {% endfor %}
            </div>
        </ul>
    </div>




    <script>
        var elem = document.querySelector('input[type="range"]');

var rangeValue = function(){
  var newValue = elem.value;
  var target = document.querySelector('.value');
  target.innerHTML = newValue;
}

elem.addEventListener("input", rangeValue);
        
    </script>
