{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
	<title>{% trans "Blog Detail" %}</title>
	<style>
		.loader{
			left: 50% !important;
			width: 35px;
			height: 35px;
			border-width: 3px;
			border-color: #6d6d6dc7;
			border-bottom-color: transparent;
		}
		@media(max-width:767px){
			.col-md-8.col-lg-9.p-b-80{order: 1;}
		}
	</style>
	{% if LANGUAGE_CODE == 'ar' %}
	<style>
		.loader{left: -50% !important;}
		.m-r-20, .m-lr-20, .m-all-20{margin: 0 0 0 20px;}
	</style>
	{% endif %}
	

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url "home" %}" class="stext-109 cl8 hov-cl1 trans-04">
				{% trans "Home" %}
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="{% url "blog" %}" class="stext-109 cl8 hov-cl1 trans-04">
				{% trans "Blog" %}
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{% if LANGUAGE_CODE == 'en' %}{{blog.topic}}{% else %}{{blog.topic_ar}}{% endif %}
			</span>
		</div>
	</div>


	<!-- Content page -->
	<section class="bg0 p-t-52 p-b-20">
		<span style="position: relative;top: -10px;">{% include 'includes/masg.html' %}</span>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						<!--  -->
						<div class="wrap-pic-w how-pos5-parent">
							<img src="{{blog.image.url}}" alt="IMG-BLOG">

							<div class="flex-col-c-m size-123 bg9 how-pos5">
								<span class="ltext-107 cl2 txt-center">
									{{blog.published_at|date:"d"}}
								</span>

								<span class="stext-109 cl3 txt-center">
									{{blog.published_at|date:"M"}} {{blog.published_at|date:"Y"}}
								</span>
							</div>
						</div>

						<div class="p-t-32">
							<span class="flex-w flex-m stext-111 cl2 p-b-19">
								<span>
									{% if LANGUAGE_CODE == 'en' %}
									<span class="cl4">By : </span> {{blog.publisher.user.username}}
									{% else %}
									{{blog.publisher.user.username}}<span class="cl4"> : بواسطة</span> 
									{% endif %}  
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								

								<span>
									{% for tag in blog.tags.all %}
										<a href="{% url "blog_bytag" tag.slug %}">{{tag.name}}</a>
										{% if not forloop.last %},{% endif %}
										{% endfor %}
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span >
									<span class="commets-count-ditail">{{blog.commetns_count}}</span> {% trans "Comments" %}
								</span>
							</span>

							<h4 class="ltext-109 cl2 p-b-28">
								{% if LANGUAGE_CODE == 'en' %}
								{{blog.topic}}
								{% else %}
								{{blog.topic_ar}}
								{% endif %}
							</h4>

							<p class="stext-117 cl6 p-b-26">
								{% if LANGUAGE_CODE == 'en' %}
								{{blog.content}}
								{% else %}
								{{blog.content_ar}}
								{% endif %}
							</p>
						</div>

					

						<!--  -->

						<hr>
						<br>
						<input id="blog-Slug" type="hidden" value="{{blog.slug}}">
						<input id="blog-id" type="hidden" value="{{blog.id}}">
						<div class="comments-body">
							<div class="heder-system">
								<div class="image">
									{% if request.user.is_authenticated %}
									<img src="{{userprofile.profile_pictuer.url}}">
									{% else %}
									<img src="{% static "images/icons/av12154.png" %}">
									{% endif %}
								</div>
								<div class="input-fld">
									<form method="post" id="comment-Form" action="{% url 'add_comment'%}">
										<textarea name="comment" placeholder="add commetn...." class="myTextarea" maxlength="2000" ></textarea>
										<div class="buttons">
											<div class="imojy">
												<button type="button"><i class="fa-solid fa-face-smile"></i></button>
											</div>
											<div class="comment-meiion">
												<button class="cancel-comment" type="button">{% trans "cancel" %}</button>
												{% if request.user.is_authenticated %}
												<button value="comment">{% trans "comment" %}</button>
												{% else %}
												<a href="{% url "login" %}" >{% trans "comment" %}</a>
												{% endif %}
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="body-system">
								{% if comments %}
								{% for comment in comments %}
								<div class="base-comment">
									<div class="the-comment">
										<div class="image">
											<img src="{{comment.user.profile_pictuer.url}}" alt="">
										</div>
										<div class="data-commetn">
											<h2>{{comment.user.user.full_name}}</h2>
											<p>{{comment.comment}}</p>
											<div class="buttons">
												<button class="reply-comment" data-id-comment="{{comment.id}}">{% trans "reply" %}</button>
												<button class="show-btn {% if not comment.is_has_reply %}hide-show-rep {% endif %}" data-show-id="{{comment.id}}"><span>{{comment.count_reply}}</span> {% trans "replays" %}</button>
												{% if comment.user.user == request.user %}
												<a href="{% url "delet_com_rep" comment.id 'comment' %}" class="dele-option">{% trans "Delete" %}</a>
												{% endif %}
												
											</div>
										</div>
									</div>
									
									
									<div class="replay">
										<div class="heder-system heder-2" data-id-fld="{{comment.id}}">
											<div class="image">
												<img src="{{userprofile.profile_pictuer.url}}" >
											</div>
											<div class="input-fld">
												<label class="label-reply4comment" for="">@<span class="span-name-reply4comment" data-id-comment="{{comment.id}}" data-name-comment="{{comment.user.user.full_name}}"></span></label>
												<textarea class="textare-reply4comment"  data-text-reply4comment="{{comment.id}}" placeholder="add reply...."  maxlength="2000"></textarea>
												<div class="buttons">
													<div class="comment-meiion">
														<button type="button" class="cancel-replay" data-id-cancel="{{comment.id}}">cancel</button>
														<button class="reply4comment" data-id-reply4comment="{{comment.id}}" value="reply4comment">{% trans "reply" %}</button>
													</div>
												</div>
											</div>
										</div>
										<div  class="comments-body content-2 disp-none replays-lOop" data-content2-id="{{comment.id}}">
											{% for i in comment.reply_set.all %}
											<div style="margin-top: 20px;" class="the-comment">
												<div  class="image">
													<img style="margin-top: -5px;"  src="{{i.user.profile_pictuer.url}}" alt="">
												</div>
												<div style="width: 90%;" class="data-commetn">
													<h2>{{i.user.user.full_name}}</h2>
													<div style="display: flex;gap: 5px;"><p><span><a href="">@{{i.reply_or_comment}}</a> </span></p><p>{{i.reply}}</p></div>
													<div class="buttons">
														<button class="reply4reply" data-id-reply="{{i.id}}">{% trans "reply" %}</button>
														{% if i.user.user == request.user %}
														<a href="{% url "delet_com_rep" i.id 'reply' %}" class="dele-option">{% trans "Delete" %}</a>
														{% endif %}
													</div>
													<div class="reply4rply-textarea" data-id-reply-textarea="{{i.id}}">
														<div class="heder-system">
															<div class="image">
																<img src="{{userprofile.profile_pictuer.url}}">
															</div>
															<div class="input-fld">
																<label class="label-reply4comment" for="">@<span class="span-name-reply4reply" data-id-reply="{{i.id}}" data-name-reply="{{i.user.user.full_name}}"></span></label>
																<textarea class="textar-reply4reply" data-reply-id-textar="{{i.id}}" placeholder="add reply...."  maxlength="2000"></textarea>
																<div class="buttons">
																	<div class="comment-meiion">
																		<button class="cancel-reply4reply" data-id-reply="{{i.id}}" type="button">{% trans "cancel" %}</button>
																		<button value="reply4reply" class="Add_reply4reply" data-id-reply="{{i.id}}" data-id-commetn="{{comment.id}}">{% trans "reply" %}</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>
								</div> 
								{% endfor %}
								{% else %}
								<div class="if-no-comments">
									<h1>{% trans "There are no comments for this post" %}</h1>
									<img src="{% static 'images/456456.png' %}" alt="">
								</div>
								{% endif %}
							</div>
							<span class="loader"></span>
						</div>

					</div>
				</div>

				<div class="col-md-4 col-lg-3 p-b-80">
					<div class="side-menu">
						<div class="p-t-55">
							<h4 class="mtext-112 cl2 p-b-33">
								{% trans "Categories" %}
							</h4>

							<ul>
                                {% for cat in categoriys %}
								<li class="bor18">
									<a href="/blog/?ident=ctog-{{cat.id}}-bo" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4 caTEgor-idE" value="category" itemid="{{cat.category}}">
										{% if LANGUAGE_CODE == 'en' %}
										{{cat.category|capfirst}}
										{% else %}
										{{cat.category_ar}}
										{% endif %}
                                    </a>
								</li>
                                {% endfor %}

								
							</ul>
						</div>
						<div class="p-t-65">
							<h4 class="mtext-112 cl2 p-b-33">
								{% trans "Products Mentioned" %}
							</h4>
                            {% if blog.p_products.all %}
							<ul>
								{% for product in blog.p_products.all %}
								<li class="flex-w flex-t p-b-30">
									<a href="{% url "product_details" product.id %}" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
										<img src="{{product.image.url}}" style="width: 90px; height: 100px;" alt="PRODUCT">
									</a>

									<div class="size-215 flex-col-t p-t-8">
										<a href="{% url "product_details" product.id %}" class="stext-116 cl8 hov-cl1 trans-04">
											{% if LANGUAGE_CODE == 'en' %}
											{{product.product_name}}
											{% else %}
											{{product.product_name_ar}}
											{% endif %}
										</a>
										<span class="stext-116 cl6 p-t-20">
											${{product.price}}
										</span>
									</div>
								</li>
								{% endfor %}
								{% else %}
								<h5>{% trans "No product mentioned" %}</h5>
								{% endif %}

								

							</ul>
						</div>

						<div class="p-t-50">
							<h4 class="mtext-112 cl2 p-b-27">
                                {% trans "Tags" %}
                            </h4>
							
                            <div class="flex-w m-r--5">
                                {% for tag in tags %}
                                    <a href="{% url "blog_bytag" tag.slug %}" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">{{tag.name}}</a>
                                {% endfor %}
                            </div>
                        </div>
					</div>
					<div class="p-t-55">
						<h4 class="mtext-112 cl2 p-b-20">
							{% trans "Archive" %}
						</h4>
				
						<ul>
				
						{% for ar in archive %}
							<li class="p-b-7">
								<a href="/blog/?ident=artv-{{ar.year}}-xh" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2 ArChiVe" value="archive" >
									<span itemid="{{ar.year}}">
										{{ar.year}}
									</span>
								</a>
							</li>
							{% endfor %}
							<li class="p-b-7">
								<a  href="/blog/?ident=artv-2022-xh" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2 ArChiVe" value="archive" >
									<span itemid="2022">
										2022
									</span>
								</a>
							</li>
							<li class="p-b-7">
								<a href="/blog/?ident=artv-2021-xh" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2 ArChiVe" value="archive" >
									<span itemid="2021">
										2021
									</span>
								</a>
							</li>
				
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>	
	{% endblock content %}
	{% block scripts %}
	<script>
		$(document).ready(function(){
			$('.heder-2').hide()
			$('.hide-show-rep').hide()
			$('.reply4rply-textarea').hide()
		});
		

		$('.reply-comment').click(function(){
			id=$(this).data('id-comment')
			$('.heder-2[data-id-fld="'+id+'"]').show()
			var name=$('.span-name-reply4comment[data-id-comment="'+id+'"]').data('name-comment')
			$('.span-name-reply4comment[data-id-comment="'+id+'"]').text(name)
			
		});


		$('.cancel-replay').click(function(){
			id=$(this).data('id-cancel')
			$('.heder-2[data-id-fld="'+id+'"]').hide()
		});


		$('.cancel-comment').click(function(){
			$('.myTextarea').val('');
			$('.myTextarea').height('3px');
		});

		
		
		$('.show-btn').click(function(){
			id=$(this).data('show-id')
			if ($('.content-2[data-content2-id="'+id+'"]').hasClass('disp-none')){
				$('.content-2[data-content2-id="'+id+'"]').removeClass('disp-none')
			}
			else{
				$('.content-2[data-content2-id="'+id+'"]').addClass('disp-none')
			}

		});


		$('.reply4reply').click(function(){
			var id = $(this).data('id-reply')
			$('.reply4rply-textarea[data-id-reply-textarea="'+id+'"]').show()
			var name=$('.span-name-reply4reply[data-id-reply="'+id+'"]').data('name-reply')
			$('.span-name-reply4reply[data-id-reply="'+id+'"]').text(name)
		})





		$('.cancel-reply4reply').click(function(){
			var id = $(this).data('id-reply')
			$('.reply4rply-textarea[data-id-reply-textarea="'+id+'"]').hide()
		})
		
		
		



		$("#comment-Form").submit(function(e){
			var formData = decodeURIComponent ($(this).serialize());
			var slug=$('#blog-Slug').val()
			var id=$('#blog-id').val()
			
			//ajax
			$.ajax({
				data:{
					slug:slug,
					id:id,
					formData:formData,
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),//ممكن نتختار التكوكين من ال id
				},
				method:$(this).attr('method'),
				url:$(this).attr('action'),
				
				dataType:'json',
				beforeSend:function(){
				},
				success:function(data){
					$('.myTextarea').val('');
					$('.myTextarea').height('30px');
					$('.body-system').html(data.template)
					$('.commets-count-ditail').text(data.comments_count)
				}
			});
			e.preventDefault();
		});



		

		$(".reply4comment").click(function(){
			var slug=$('#blog-Slug').val()
			var id=$('#blog-id').val()
			var comment_id =$(this).data('id-reply4comment')
			var val=$(this).val()
			var reply=$('.textare-reply4comment[data-text-reply4comment="'+comment_id+'"]').val()
			//ajax
			$.ajax({
				data:{
					'slug':slug,
					'id':id,
					'reply':reply,
					'val':val,
					'comment_id':comment_id,
				},
				url:'/blog/add_reply/',
				dataType:'json',
				beforeSend:function(){
				},
				success:function(data){
					var reply=$('.textare-reply4comment[data-text-reply4comment="'+comment_id+'"]').height('30px')
					$('.textare-reply4comment[data-text-reply4comment="'+comment_id+'"]').val('')
					$('.replays-lOop[data-content2-id='+comment_id+']').html(data.template)
					
					if ($('.show-btn[data-show-id="'+comment_id+'"]').hasClass('hide-show-rep')){
						$('.show-btn[data-show-id="'+comment_id+'"]').show()
						$('.show-btn[data-show-id="'+comment_id+'"]').removeClass('hide-show-rep')
					}
					$('.heder-2[data-id-fld="'+comment_id+'"]').hide()
					$('.show-btn[data-show-id="'+comment_id+'"] span').text(data.count)
					$('.commets-count-ditail').text(data.comments_count)
				}
			});
		});




		$(".Add_reply4reply").click(function(){
			var id=$('#blog-id').val()
			var slug=$('#blog-Slug').val()
			var comment_id =$(this).data('id-commetn')
			var reply_id =$(this).data('id-reply')
			var val=$(this).val()
			var reply=$('.textar-reply4reply[data-reply-id-textar="'+reply_id+'"]').val()

			//ajax
			$.ajax({
				data:{
					'id':id,
					'slug':slug,
					'comment_id':comment_id,
					'reply_id':reply_id,
					'val':val,
					'reply':reply,
				},
				url:'/blog/add_reply/',
				dataType:'json',
				beforeSend:function(){
				},
				success:function(data){
					$('.textar-reply4reply[data-reply-id-textar="'+reply_id+'"]').height('30px')
					$('.textar-reply4reply[data-reply-id-textar="'+reply_id+'"]').val('')
					$('.replays-lOop[data-content2-id='+comment_id+']').html(data.template)
					$('.show-btn[data-show-id="'+comment_id+'"] span').text(data.count)
					$('.commets-count-ditail').text(data.comments_count)
				}
			});
		});
		
	</script>
	<script>




		$('.textare-reply4comment,.textar-reply4reply,.myTextarea').click(function(){

			var id_1 =$(this).data('text-reply4comment')
			var id_2 =$(this).data('reply-id-textar')
		
			if (id_1){var textarea = $('.textare-reply4comment[data-text-reply4comment="'+id_1+'"]');}
			else if (id_2){var textarea = $('.textar-reply4reply[data-reply-id-textar="'+id_2+'"]');}
			else {var textarea = $('.myTextarea')}

			textarea.on('input', function () {
				var text = $(this).val();
				var isArabic = /[\u0600-\u06FF]/.test(text);

				if (isArabic) {
					$(this).css('direction', 'rtl');
				} else {
					$(this).css('direction', 'ltr');
				}

				autoResizeAndScroll1321(this); 
			});

			function autoResizeAndScroll1321(textarea) {
				var wordCount = textarea.value.trim().split('').length;
				var maxWordCount = 1500;

				textarea.style.overflowY = 'hidden';
				textarea.readOnly = false;

				if (wordCount <= maxWordCount) {
					textarea.style.height = 'auto';
					textarea.style.height = textarea.scrollHeight + 'px';
				} else {
					textarea.style.overflowY = 'scroll';
				}
			}
		})




		new EmojiPicker({
			trigger: [
				{
					insertInto: ['.myTextarea'],
					selector: '.fa-face-smile'
				}
			],
			closeButton: true,
			dragButton: true
			})
	</script>
	<script>

		$('.loader').hide()
		var loading = false;
		var page = 15;  
		$(window).scroll(function() {
			if($(window).scrollTop() + $(window).height() >= $(".bg0.p-t-52.p-b-20").height() && !loading && page != 0) {
				loading = true;
				var lent=$('.base-comment').length
				var id=$('#blog-id').val()
				var slug=$('#blog-Slug').val()
				$.ajax({
					url: '/blog/load_comments/',  
					data: {
						'page': page,
						'lent':lent,
						'id':id,
						'slug':slug,
					},
					beforeSend:function(){
						$('.loader').show()
					},
					success: function(data) {
						$(".body-system").append(data.html);
						loading = false;
						if (data.count > lent){page += 15;}
						else{page = 0; }
						$('.loader').hide()
						
					}
				});
			}
		});
		</script>
	{% endblock scripts %}

	

	