{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<title>{% trans "Blog" %}</title>
<style>
    @media(max-width:767px){
        .col-md-8.col-lg-9.p-b-80{order: 1}
    }
</style>
{% if tag %}
<style>
    .col-md-4.col-lg-3.p-b-80{display: none;}
    .container .row{justify-content: center;}
</style>
{% endif %}

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/bg-02.jpg' %}');">
		<h2 class="ltext-105 cl0 txt-center">
			{% trans "Blog" %}
		</h2>
	</section>	

	<!-- Content page -->
	<section class="bg0 p-t-62 p-b-60">
        <div class="container">
            <div class="row">
                {% if tag %}
                <div class="teg-page-lable">
                    <h1>{% trans "The Page Is Tagged With" %} <span>{{tag.name}}</span> </h1>
                </div>
                {% endif %}
                <div class="col-md-8 col-lg-9 p-b-80">
                    <div class="p-r-45 p-r-0-lg">
                        <h5 id="lOdinG">{% trans "loding..." %}</h5>
                        <div id="conteNT-BloG">
                            {% for blog in blogs %}
                            <!-- item blog -->
                            <div class="p-b-63">
                                <a href="{% url "blog_detail" blog.slug blog.id %}" class="hov-img0 how-pos5-parent">
                                    <img src="{{blog.image.url}}" alt="IMG-BLOG">

                                    <div class="flex-col-c-m size-123 bg9 how-pos5">
                                        <span class="ltext-107 cl2 txt-center">
                                            {{blog.published_at|date:"d"}}
                                        </span>

                                        <span class="stext-109 cl3 txt-center">
                                            {{blog.published_at|date:"M"}} {{blog.published_at|date:"Y"}}
                                        </span>
                                    </div>
                                </a>

                                <div class="p-t-32">
                                    <h4 class="p-b-15">
                                        <a href="{% url "blog_detail" blog.slug blog.id %}" class="ltext-108 cl2 hov-cl1 trans-04">
                                            {% if LANGUAGE_CODE == 'en' %}{{blog.topic}}{% else %}{{blog.topic_ar}}{% endif %}
                                        </a>
                                    </h4>
                                    
                                    <p class="stext-117 cl6">
                                        {% if LANGUAGE_CODE == 'en' %}{{blog.content|truncatechars:250}}{% else %}{{blog.content_ar|truncatechars:250}}{% endif %}
                                        
                                    </p>

                                    <div class="flex-w flex-sb-m p-t-18">
                                        <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
                                            <span>
                                                {% if LANGUAGE_CODE == 'en' %}
                                                <span class="cl4">By : </span> {{blog.publisher.user.username}}
                                                {% else %}
                                                {{blog.publisher.user.username}}<span class="cl4"> : بواسطة</span> 
                                                {% endif %}

                                                <span class="cl12 m-l-4 m-r-6">|</span>
                                            </span>

                                            <span>
                                                
                                                {% for tag in blog.tags.all %}
                                                <a href="{% url "blog_bytag" tag.slug %}" style="color: #707fe0;">{{tag.name}}</a>
                                                {% if not forloop.last %},{% endif %}
                                                {% endfor %}
                                        
                                                <span class="cl12 m-l-4 m-r-6">|</span>
                                            </span>

                                            <span>
                                                {{blog.commetns_count}} {% trans "Comments" %}
                                            </span>
                                        </span>

                                        <a href="{% url "blog_detail" blog.slug blog.id %}" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                            {% trans "Continue Reading" %}

                                            <i class="fa fa-long-arrow-right m-l-9"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

						<!-- Pagination -->
						<div class="flex-l-m flex-w w-full p-t-10 m-lr--7 paginaTOr">

							{% for i in blogs.paginator.page_range %}
							<a href="?page={{i}}" class="flex-c-m how-pagination1 trans-04 m-all-7">
								{{i}}
							</a>
							{% endfor %}

						</div>
					</div>
				</div>


				<div class="col-md-4 col-lg-3 p-b-80">
					<div class="side-menu">
						<div class="bor17 of-hidden pos-relative">
                            <form action="{% url "search-blog" %}" method="get" id="seARch-Blog">
                                <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="search" placeholder=" {% trans "Search" %}" id="seaRCh-query">

                                <button type="submit" class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
						</div>

						<div class="p-t-55">
                            
                            <div class="dropdown">
                                <button  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-bell notifict-bell"></i>
                                    {% if  is_news %}
                                    <span class="notific-scour">0</span>
                                    {% endif %}
                                </button>
                                
                                <div style="height: 270px;overflow-y: scroll;width: 100%;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for noti in notifs %}
                                        {% if LANGUAGE_CODE == 'en' %}
                                            <a class="dropdown-item" href="{% url "blog_detail" noti.post.slug noti.post.id %}"><p style="font-weight: 700 !important;width: 100%;text-wrap: wrap;border-bottom: 1px solid #e1e1e1;"> <span style="color:#707fe0">{{noti.reply_sent.first_name}}</span> responded to you in the post <span style="color:#707fe0">{{noti.post.topic|truncatechars:20}}</span> </p></a>
                                        {% else %}
                                            <a class="dropdown-item" href="{% url "blog_detail" noti.post.slug noti.post.id %}"><p style="font-weight: 700 !important;width: 100%;text-wrap: wrap;border-bottom: 1px solid #e1e1e1;direction: rtl;"> <span style="color:#707fe0">{{noti.reply_sent.first_name}}</span> قام بالرد عليك في منشور <span style="color:#707fe0">{{noti.post.topic_ar|truncatechars:20}}</span> </p></a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
						</div>
						<div class="p-t-55">
							<h4 class="mtext-112 cl2 p-b-33">
								{% trans "Categories" %}
							</h4>

							<ul>
                                {% for cat in categoriys %}
								<li class="bor18">
									<button class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4 caTEgor-idE" value="category" itemid="{{cat.category}}" id="ctog-{{cat.id}}-bo">
										{% if LANGUAGE_CODE == 'en' %}{{cat.category|capfirst}}{% else %}{{cat.category_ar}}{% endif %}
                                    </button>
								</li>
                                {% endfor %}

								
							</ul>
						</div>
                        
                        <div class="p-t-50">
                            <h4 class="mtext-112 cl2 p-b-27">
                                {% trans "Tags" %}
                            </h4>

                            <div class="flex-w m-r--5">
                                {% for tag in tags %}
                                    <a href="{% url "blog_bytag" tag.slug %}" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">{{tag.name}}</a>
                                {% endfor %}
                            </div>
                        </div>

						<div class="p-t-55">
							<h4 class="mtext-112 cl2 p-b-20">
								{% trans "Archive" %}
							</h4>

							<ul>

							{% for ar in archive %}
								<li class="p-b-7">
									<button class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2 ArChiVe" value="archive" >
										<span itemid="{{ar.year}}" id="artv-{{ar.year}}-xh">
											{{ar.year}}
										</span>
									</button>
								</li>
								{% endfor %}
								<li class="p-b-7">
									<button class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2 ArChiVe" value="archive" >
										<span itemid="2022" id="artv-2022-xh">
											2022
										</span>
									</button>
								</li>
								<li class="p-b-7">
									<button class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2 ArChiVe" value="archive" >
										<span itemid="2021" id="artv-2021-xh">
											2021
										</span>
									</button>
								</li>

							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>	

{% endblock content %}


{% block scripts %}

<script>
    $(document).ready(function(){
        $('#lOdinG').hide()
        var ident = new URLSearchParams(window.location.search).get('ident');
        if (ident){
            window.onload=function(){
                document.getElementById(ident).click();
                };
    }

$("#seARch-Blog").submit(function(e){
    var search_qury=$("#seaRCh-query").val()
    
    //ajax
    $.ajax({
        data:{
            'search_qury':search_qury,
        },
        method:$(this).attr('method'),
        url:$(this).attr('action'),
        
        dataType:'json',
        beforeSend:function(){
            $('#lOdinG').show()
        },
        success:function(data){
            $('#lOdinG').hide()
            $('#conteNT-BloG').html(data.blog_search)
            $('.paginaTOr').hide()
            //
        }
    });
    e.preventDefault();
});

$("#dropdownMenuButton").click(function(){
    $.ajax({
        data:{},
        url:'/blog/hide_noti_icon/',
        
        dataType:'json',
        success:function(data){
            $('.notific-scour').hide()
        }
    });
});




$(".caTEgor-idE,.ArChiVe").click(function(){
    var button=$(this).val()
    var text = event.target.getAttribute('itemid'); 
    
    //ajax
    $.ajax({
        data:{
            'button':button,
            'text':text,
        },
        url:'/blog/identifiers/',
        
        dataType:'json',
        beforeSend:function(){
            $('#lOdinG').show()
        },
        success:function(data){
            $('#lOdinG').hide()
            $('#conteNT-BloG').html(data.blog_otheid)
            $('.paginaTOr').hide()
        }
    });
});

});

</script>

{% endblock scripts %}