{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<br>
						<br>
						<br>
						<br>
						<br>
                            {% block body %}
							
							
							{% endblock body %}
                            <br>
                            <div class="text-center">
                                <br>
                                <br>
                                <br>
                            </div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

