{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% trans "Home" %}</title>
	
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/MagnificPopup/magnific-popup.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'jquery.toast.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/edit.css' %}">
	{% if LANGUAGE_CODE == 'ar' %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/rtl.css' %}">
	{% endif %}
    
	<!--===============================================================================================-->
</head>
<style>
	body{direction: ltr;}
	.rating-group {position: relative;top: -28px;left: 90px;}
	.stext-105.cl3 .rating__label{cursor: initial !important;font-size: 17px;}
</style>


{% if LANGUAGE_CODE == 'en' %}
<style>
	
	.checkmark{position: relative;left: -7px;top: -4px;}
</style>
{% else %}
<style>
	.jq-toast-wrap{direction: rtl;}
	.checkmark{position: relative;left: 7px;top: -4px;}
	.block2-txt-child1.flex-col-l a p{font: menu;font-size: 18px;font-weight: 500;}
	.row.isotope-grid{direction: rtl;}
	.dis-none.panel-filter{direction: rtl;}
	.flex-w.flex-sb-m.p-b-52{direction: rtl;}
	.loder-products{direction: rtl;}
</style>
{% endif %}

<body class="animsition">

	<!-- Header -->
	<header {% if LANGUAGE_CODE == 'ar' %} style="direction: rtl;" {% endif %}>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						{% trans "A gift upon delivery for a purchaser of more than $200" %}
					</div>

					<div class="right-top-bar flex-w h-full">
						
                        {% if request.user.is_authenticated %}
						<a href="{{request.user.get_absolute_url}}" style="gap: 7px;" class="flex-c-m trans-04 p-lr-25">
							<img class="user-profile-img-base" src="{{userprofile.profile_pictuer.url}}" >
							<p class="user-profile-name-base">{{request.user.full_name}}</p>
						</a>
						{% else %}
						
						<a href="{% url 'singup' %}"  style="font-size: 14px;" class="flex-c-m trans-04 p-lr-25">
							{% trans 'Register' %}
						</a>
						{% endif %}
						
						<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
							{% get_current_language as LANGUAGE_CODE %}
							<input name="next" type="hidden" value="{{ redirect_to }}">
							{% if LANGUAGE_CODE == 'ar' %}
							<button type="submit" name="language" value="en" class="change-lang-btn"
								style="border-left: 1px solid #616161;">
								<span class="label"></span> English
							</button>
							{% else %}
							<button type="submit" name="language" value="ar" class="change-lang-btn"
								style="border-right: 1px solid #616161;">
								<span class="label"></span> عربي
							</button>
							{% endif %}
						</form> 
					</div>
				</div>
			</div>

			<div style="z-index: 99;" class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="/" class="logo">
						<img  src="{% static 'images/icons/sahar1.png' %}"alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/">{% trans 'Home' %}</a>
							</li>

							{% if '/products/' in request.path %}
							<li class="active-menu">
								{% else %}
								<li class="menu">
							{% endif %}
								<a href="{% url 'store' %}">{% trans 'Shop' %}</a>
							</li>

							{% if '/cart/' in request.path %}
							<li class="active-menu">
								{% else %}
								<li class="menu">
							{% endif %}
							<a href="{% url 'cart' %}">{% trans 'Shopping Cart' %}</a>
						</li>
						
								{% if '/blog/' in request.path %}
							<li class="active-menu">
									{% else %}
							<li class="menu">
								{% endif %}
								<a href="{% url "blog" %}">{% trans 'Blog' %}</a>
							</li>

							{% if '/about/' in request.path %}
								<li class="active-menu">
								{% else %}
								<li class="menu">
								{% endif %}
								<a href="{% url "about" %}">{% trans 'About' %}</a>
							</li>
						</ul>
					</div>
					<!-- count icon for Shopping Cart PC -->
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
						<head>
							<style>
							.Noti-ShopCart-PC {
							width: 30px;
							height: 20px;
							background-color: rgb(245, 77, 62);
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							color: white;
							font-size: 13px;
							font-weight: bold;
							position: absolute;
							top: -28px;
							left: -170px;
							}
							</style>
						</head>
						<body>
							<div class="Noti-ShopCart-PC">{{cart_count}}</div>
						</body>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart"  >
							<i class="zmdi zmdi-shopping-cart"></i>
							<head>
								<style>
								.square-CarT-Pc {
								width: 22px;
								height: 17px;
								background-color: rgb(134, 142, 252);
								display: flex;
								justify-content: center;
								align-items: center;
								color: white;
								font-size: 13px;
								font-weight: bold;
								position: absolute;
								top: -13px;
								left: 40px;
								}
								</style>
							</head>
							<body>
								<div class="square-CarT-Pc">{{cart_count}}</div>
							</body>
						</div >

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
							<head>
								<style>
								.square-FaVE-Pc {
								width: 22px;
								height: 17px;
								background-color: rgb(134, 142, 252);
								display: flex;
								justify-content: center;
								align-items: center;
								color: white;
								font-size: 13px;
								font-weight: bold;
								position: absolute;
								top: -24px;
								left: 70px;
								}
								</style>
							</head>
							<body>
								<div class="square-FaVE-Pc">{{count_fav}}</div>
							</body>
						</div>
						<a href="{% url 'favorite' %}" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 " >
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<img src="{% static 'images/icons/sahar1.png' %}" alt="IMG-LOGO">
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10  js-show-cart">
					<i class="zmdi zmdi-shopping-cart"></i>

					<head>
						<style>
						.square-CarT-PhoNE {
						width: 22px;
						height: 17px;
						background-color: rgb(134, 142, 252);
						display: flex;
						justify-content: center;
						align-items: center;
						color: white;
						font-size: 13px;
						font-weight: bold;
						position: absolute;
						top: -13px;
						left: 27px;
						}
						</style>
					</head>
					<body>
						<div class="square-CarT-PhoNE">{{cart_count}}</div>
					</body>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
					<head>
						<style>
						.square-FaVE-PhoNe {
						width: 22px;
						height: 17px;
						background-color: rgb(134, 142, 252);
						display: flex;
						justify-content: center;
						align-items: center;
						color: white;
						font-size: 13px;
						font-weight: bold;
						position: absolute;
						top: -24px;
						left: 60px;
						}
						</style>
					</head>
					<body>
						<div class="square-FaVE-PhoNe">{{count_fav}}</div>
					</body>
				</div>

				<a href="{% url 'favorite' %}" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 " >
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						{% trans "A gift upon delivery for a purchaser of more than $200" %}
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						
                        {% if request.user.is_authenticated %}
						<a href="#" style="gap: 7px;" class="flex-c-m trans-04 p-lr-25">
							<img class="user-profile-img-base" src="{{userprofile.profile_pictuer.url}}" >
							<p class="user-profile-name-base">{{request.user.full_name}}</p>
						</a>
						{% else %}
						
						<a href="{% url 'singup' %}" style="font-size: 14px;" class="flex-c-m trans-04 p-lr-25">
							{% trans 'Register' %}
						</a>
						{% endif %}
						
						<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
							{% get_current_language as LANGUAGE_CODE %}
							<input name="next" type="hidden" value="{{ redirect_to }}">
							{% if LANGUAGE_CODE == 'ar' %}
							<button type="submit" name="language" value="en" class="change-lang-btn"
								style="border-left: 1px solid #616161;">
								<span class="label"></span> English
							</button>
							{% else %}
							<button type="submit" name="language" value="ar" class="change-lang-btn"
								style="border-right: 1px solid #616161;">
								<span class="label"></span> عربي
							</button>
							{% endif %}
						</form> 
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="/">{% trans "Home" %}</a>
				</li>

				<li>
					<a href="{% url 'store' %}">{% trans "Shop" %}</a>
				</li>
				

				<li>
					<a href="{% url 'cart' %}" >{% trans "Shopping Cart" %}</a>
				</li>

				<li>
					<a href="{% url "blog" %}">{% trans "Blog" %}</a>
				</li>

				
				<li>
					<a href="{% url "about" %}">{% trans "About" %}</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="{% static 'images/icons/icon-close2.png' %}" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15" method="get" action="{% url 'search' %}">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	<!-- Cart -->
	{% if LANGUAGE_CODE == 'en' %}
<style>
	.header-cart {
		right: -400px;
	}
	.show-header-cart .header-cart {
		right: 0;
	}
</style>

	{% else %}
<style>
	.header-cart {
		left: -400px;
	}
	.show-header-cart .header-cart {
		left: 0;
	}
</style>
	{% endif %}
	<div  class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25 body-sidcart">
			<div style="width: 100%;" class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					{% trans "Your Cart" %}
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div {% if LANGUAGE_CODE == 'ar' %}style="direction:rtl;"{% endif %}class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full" id="sidE-Cart">
                    {% for item in cart_items %}
					<li class="header-cart-item flex-w flex-t m-b-12">
						<a href="{% url 'product_details' item.product.id %}"  class="header-cart-item-img rtl">
							<img src="{{item.product.image.url}}" >
						</a>

						<div class="header-cart-item-txt p-t-8">
							
							<a  href="{% url 'product_details' item.product.id %}" class="header-cart-item-name edit m-b-18 hov-cl1 trans-04">
								{{item.product.product_name}}
							</a>
							<div class="cls-color-size-base">
								<p>{{item.size}}</p>
								<p>{{item.color}}</p>
							</div>
							
							
							<span style="direction: ltr;" class="header-cart-item-info">
								{{item.quantity}} x ${{item.product.price}}
							</span>
						</div>
					</li>
					{% endfor %}
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						{% trans "Total" %}: ${{total}}
					</div>

					<div {% if LANGUAGE_CODE == 'ar' %}style="gap:15px;"{% endif %} class="header-cart-buttons flex-w w-full">
						<a href="{% url 'cart' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							{% trans "View Cart" %}
						</a>

						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							{% trans "Check Out" %}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	



	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url({% static 'images/slide-02.jpg' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									{% trans "New Men's Season" %}
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									{% trans "NEW SEASON" %}
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="{% url 'store' %}"
									class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									{% trans "Shop Now" %}
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url({% static 'images/slide-03.jpg' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									{% trans "New Men's Season" %}
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn"
								data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									{% trans "Jackets & Coats" %}
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="{% url 'store' %}"
									class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									{% trans "Shop Now" %}
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url({% static 'images/4168439.jpg' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft"
								data-delay="0">
								<span class="ltext-101 cl2 respon2">
									{% trans "Shop Now At The Lowest Prices" %}
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight"
								data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									{% trans "New Merchandise" %}
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="{% url 'store' %}"
									class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									{% trans "Shop Now" %}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-01.jpg' %}" alt="IMG-BANNER">

						<a href="/products/?hochozq={% if LANGUAGE_CODE == 'en' %}Dresses{% else %}فساتين نسائي{% endif %}"
							class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									{% trans "Women" %}
								</span>

								<span class="block1-info stext-102 trans-04">
									{% trans "Spring 2023" %}
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									{% trans "Shop Now" %}
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-02.jpg' %}" alt="IMG-BANNER">

						<a href="/products/?hochozq={% if LANGUAGE_CODE == 'en' %}Men's classic{% else %}رجالي كلاسيكي{% endif %}"
							class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									{% trans "Men" %}
								</span>

								<span class="block1-info stext-102 trans-04">
									{% trans "classic" %}
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									{% trans "Shop Now" %}
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-03.jpg' %}" alt="IMG-BANNER">

						<a href="/products/?hochozq={% if LANGUAGE_CODE == 'en' %}Accessories{% else %}اكسسوارات{% endif %}"
							class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									{% trans "Accessories" %}
								</span>

								<span class="block1-info stext-102 trans-04">
									{% trans "New Trend" %}
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									{% trans "Shop Now" %}
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					{% trans "Products Overview" %}
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				

				<div class="flex-w flex-c-m m-tb-10">

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i style="margin: 6px;" class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						{% trans "Search" %}
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<form  method="get" action="{% url 'search' %}">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
						<input class="mtext-107 cl2 size-114 plh2 p-r-15"  type="text" name="search"
							placeholder="Search" >
					</div>
					</form>
				</div>

				<!-- Filter -->

			</div>

			<div class="row isotope-grid">
				{% for product in products %}
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item  product-box">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0 label-new"  {% if LANGUAGE_CODE == 'en' %}data-label="{{product.category.category_name}}" {% else %} data-label="{{product.category.category_name_ar}}" {% endif %} >
							
							<img src= "{{product.image.url}}" alt="IMG-PRODUCT" class="ImgPROd" >
							<button class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1 QuicK-ViEw" data-link-action="quickview" title="Quick view" data-quick-id="{{product.id}}">{% trans "QuicK ViEw" %}</button>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								
								<a href="{{product.get_absolute_url}}" class="mtext-102 cl2  p-b-14" >
									<p>{% if LANGUAGE_CODE == 'en' %}{{product.product_name}} {% else %} {{product.product_name_ar}} {% endif %}</p>
								</a>
								
								<span class="stext-105 cl3">
									<p class="mtext-104 cl2" data-price="{{product.id}}">${{product.price}}</p>
									<div id="half-stars-example">
										<div  style="direction: ltr;" class="rating-group">
											<label aria-label="0 stars" class="rating__label" for="rating2-0">&nbsp;</label>
											<label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating2-05"><i {% if product.avg_rate < 0.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
											<label aria-label="1 star" class="rating__label" for="rating2-10"><i {% if product.avg_rate < 1 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
											<label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating2-15"><i {% if product.avg_rate < 1.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
											<label aria-label="2 stars" class="rating__label" for="rating2-20"><i {% if product.avg_rate < 2 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
											<label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating2-25"><i {% if product.avg_rate < 2.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
											<label aria-label="3 stars" class="rating__label" for="rating2-30"><i {% if product.avg_rate < 3 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
											<label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating2-35"><i {% if product.avg_rate < 3.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
											<label aria-label="4 stars" class="rating__label" for="rating2-40"><i {% if product.avg_rate < 4 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
											<label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating2-45"><i {% if product.avg_rate < 4.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
											<label aria-label="5 stars" class="rating__label" for="rating2-50"><i {% if product.avg_rate < 5 %}style="color: #ddd;"{% endif %}  class="rating__icon rating__icon--star fa fa-star"></i></label>
										</div>
									</div>
								</span>
							</div>

							<!-- Start Popup -->
							<input class="modal-btn" type="checkbox" id="modal-btn-{{product.id}}" name="modal-btn"/>
							<label id="lbl-popup" data-popup="{{product.id}}" for="modal-btn-{{product.id}}"></label> 		
							<div style="direction: ltr;" class="modal">		
								<div class="container">
									<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
										<div class="row">
											<div class="col-md-6 col-lg-7 p-b-30">
												<div class="p-l-25 p-r-30 p-lr-0-lg">
													<div class="wrap-slick3 flex-sb flex-w">
														<div class="wrap-slick3-dots"></div>
														<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
														<div class="slick3 gallery-lb">
															{% for i in product.productgallery_set.all %}
															<div class="item-slick3" data-thumb="{{i.img.url}}">
																<div class="wrap-pic-w pos-relative">
																	<img src="{{i.img.url}}" alt="IMG-PRODUCT">
																	<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{i.img.url}}">
																		<i class="fa fa-expand"></i>
																	</a>
																</div>
															</div>
															{% endfor %}
														</div>
													</div>
												</div>
											</div>
											
											<div class="col-md-6 col-lg-5 p-b-30">
												<div {% if LANGUAGE_CODE == 'ar' %} style="direction: rtl;" {% endif %} class="p-r-50 p-t-5 p-lr-0-lg">
													<h4 class="mtext-105 cl2 js-name-detail p-b-14">
														{% if LANGUAGE_CODE == 'en' %}{{product.product_name}} {% else %} {{product.product_name_ar}} {% endif %}
													</h4>
													
													<span class="mtext-106 cl2">
														$ {{product.price}}
													</span>
						
													<p class="stext-102 cl3 p-t-23">
														{% if LANGUAGE_CODE == 'en' %}{{product.description|safe|truncatechars:140}} {% else %} {{product.description_ar|safe|truncatechars:140}} {% endif %}
													</p>
													
													<!--  -->
													<div class="p-t-33">
														<div class="flex-w flex-r-m p-b-10">
															<div class="size-203 flex-c-m respon6">
																{% trans "Size" %}
															</div>
						
															<div class="size-204 respon6-next">
																<div class="rs1-select2 bor8 bg0">
																	<select data-id="{{product.id}}" class="js-select2-size" name="time" id="SizE-cHo-mODal" data-size="{{product.id}}">
																		<option>Choose an option</option>
																		<option>Size S</option>
																		<option>Size M</option>
																		<option>Size L</option>
																		<option>Size XL</option>
																	</select>
																	<div class="dropDownSelect2"></div>
																</div>
															</div>
														</div>
						
														<div class="flex-w flex-r-m p-b-10 color-selction disp-none">
															<div class="size-203 flex-c-m respon6">
																<span class="color-loader hidden"></span>
																<span class="color-text">{% trans "Color" %}</span>
															</div>
															<div class="size-204 respon6-next">
																<div class="rs1-select2 bor8 bg0">
																	<select class="js-select2-color" name="time" id="coLOr-CHo-MOdal" data-color="{{product.id}}">
																		<option>Choose an option</option>
																		<option>Red</option>
																		<option>Blue</option>
																		<option>White</option>
																		<option>Grey</option>
																	</select>
																	<div class="dropDownSelect2"></div>
																</div>
															</div>
														</div>
						
														<div class="flex-w flex-r-m p-b-10">
															<div  class="size-204 flex-w flex-m respon6-next">
																<div style="direction: ltr;" class="wrap-num-product flex-w m-r-20 m-tb-10">
																	<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
																		<i class="fs-16 zmdi zmdi-minus"></i>
																	</div>
						
																	<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" id="modal-Qty" data-p-qty="{{product.id}}" value="1" readonly>
						
																	<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
																		<i class="fs-16 zmdi zmdi-plus"></i>
																	</div>
																</div>
						
																<button {% if LANGUAGE_CODE == 'ar' %} style="margin-right: 15px" {% endif %} class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail add-TOcarT-MOdAL" data-modal-id="{{product.id}}">
																	{% trans "Add to cart" %}
																</button>
															</div>
														</div>	
													</div>
						
													<!--  -->
													<div style="justify-content: center;" class="flex-w flex-m p-l-100 p-t-40 respon7">

														<div class="block2-txt-child2 flex-r p-t-3">
															<label class="hartcont">
																<input class="aDdTofavEOu" data-product-id-fav="{{product.id}}"  type="checkbox" {% if product in all_favorit  %} checked="checked" {% endif %}>
																<div class="checkmark">
																	<svg class="hart-popup" viewBox="0 0 256 256">
																	<rect fill="none" height="256" width="256"></rect>
																	<path d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z" stroke-width="20px" stroke="#bfbfbf" fill="none"></path></svg>
																</div>
															</label>
														</div>

														<div class="breck-popup-active"></div>
						
														<button id="facebook-socila-share" data-porduct="{{product.id}}" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
															<i class="fa fa-facebook"></i>
														</button>
							
														<button id="twitter-socila-share" data-porduct="{{product.id}}" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="X-Twitter">
															<i class="fa-brands fa-x-twitter"></i>
														</button>
							
														<button id="whatsapp-socila-share" data-porduct="{{product.id}}" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Whatsapp">
															<i class="fa-brands fa-whatsapp fa-lg"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>			          		
							</div>	
							<!-- End Popup -->

							<div class="block2-txt-child2 flex-r p-t-3">
								<h2 class="counTfaVE-dis" data-like-text-id="{{product.id}}">{{product.all_likes}}</h2>
								<label class="hartcont">
									<input class="aDdTofavEOu" data-product-id-fav="{{product.id}}"  type="checkbox" {% if product in all_favorit  %} checked="checked" {% endif %}>
									<div class="checkmark">
										<svg viewBox="0 0 256 256">
										<rect fill="none" height="256" width="256"></rect>
										<path d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z" stroke-width="20px" stroke="#bfbfbf" fill="none"></path></svg>
									</div>
								</label>
							</div>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="{% url 'store' %}"
					class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					{% trans "See More" %}
				</a>
			</div>
		</div>
	</section>


	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						{% trans "Categories" %}
					</h4>

					<ul>
						{% for cat in al_cats %}
						<li class="p-b-10">
							{% if LANGUAGE_CODE == 'en' %}
							<a href="/products/?czhoqif={{cat.category_name}}" class="stext-107 cl7 hov-cl1 trans-04">{{cat.category_name}}</a>
							{% else %}
							<a href="/products/?czhoqif={{cat.category_name_ar}}" class="stext-107 cl7 hov-cl1 trans-04">{{cat.category_name_ar}}</a>
							{% endif %}
						</li>
						{% endfor %}

						
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						{% trans "Help" %}
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="{% url "help" %}?help=Track-Order" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans "Track Order" %}
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url "help" %}?help=Returns" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans "Returns" %}
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url "help" %}?help=Shipping" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans "Shipping" %}
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url "help" %}?help=FAQs" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans "FAQs" %}
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						{% trans "GET IN TOUCH" %}
					</h4>

					<p class="stext-107 cl7 size-201">
						{% trans 'Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879' %}
						
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						{% trans "Newsletter" %}
					</h4>

					<form action="{% url "store" %}" method="post">
						{% csrf_token %}
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="email" 
								placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								{% trans "Subscribe" %}
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-01.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-02.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-03.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-04.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-05.png' %}" alt="ICON-PAY">
					</a>
				</div>


			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

    
	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="{% static 'images/icons/icon-close.png' %}" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w "></div>

								<div class="slick3 gallery-lb ">
									<div class="item-slick3" data-thumb="{% static 'images/product-detail-01.jpg' %}">
										<div class="wrap-pic-w pos-relative-interface">
											<img src="{% static 'images/product-detail-01.jpg' %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
												href="{% static 'images/product-detail-01.jpg' %}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								<p class="Qick-NamE">Lightweight Jacket</p>
							</h4>

							<span class="mtext-106 cl2">
								<p class="QiCK-Price">$58.79</p>
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat
								ornare feugiat.
							</p>

							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number"
												name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button
											class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#"
										class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
										data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
									data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
									data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
									data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2-size").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			}).on('change', function() {
				$('.color-selction').removeClass('disp-none')
				var select_val=$(this).val()
				var id =$(this).data('id');
				var elmincolor = $('#cOLor-CH');
				var elmincolor_modal = $('#coLOr-CHo-MOdal');
				$.ajax({
					url:'/products/order_selection_filter/',
					data:{
						'id':id,
						'select_val':select_val,
					},
					beforeSend:function(){
						$('.color-text').addClass('disp-none')
						$('.color-loader').removeClass('hidden')
					},
					dataType:'json',
					success: function(data){
						elmincolor.empty();
						elmincolor_modal.empty();
						$.each(data.edit_action, function(index, color) {
							var capitalizedColor = color.charAt(0).toUpperCase() + color.slice(1);
							elmincolor.append($('<option>', {
								text: capitalizedColor
							}));
						});
						$.each(data.edit_action, function(index, color) {
							var capitalizedColor = color.charAt(0).toUpperCase() + color.slice(1);
							elmincolor_modal.append($('<option>', {
								text: capitalizedColor
							}));
						});

						$('.color-text').removeClass('disp-none')
						$('.color-loader').addClass('hidden')
					}
				});
			});
		});

		

		$(".js-select2-color").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	
	<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'js/slick-custom.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function () { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>

	<script>
		/*==================================================================
    [ Cart ]*/
    $('.js-show-cart').on('click',function(){
        $('.js-panel-cart').addClass('show-header-cart');
    });

    $('.js-hide-cart').on('click',function(){
        $('.js-panel-cart').removeClass('show-header-cart');
    });

    /*==================================================================
    [ Cart ]*/
    $('.js-show-sidebar').on('click',function(){
        $('.js-sidebar').addClass('show-sidebar');
    });

    $('.js-hide-sidebar').on('click',function(){
        $('.js-sidebar').removeClass('show-sidebar');
    });
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function () {
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		

	</script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});


			
	
		$('.hamburger--squeeze').on('click', function(e) {
			if ($('.conTEnt-storBy .text').hasClass('hidden')) {
				setTimeout(function() {
					$('.conTEnt-storBy .text').removeClass('hidden');
				}, 470);
			} else {
				$('.conTEnt-storBy .text').addClass('hidden');
			}
		});

		


		$(document).ready(function(){
			$.ajax({
				url:'/products/check_lang/',
				data:{},
				dataType:'json',
				success: function(data){
					if (data.url){
						window.location.href=data.url
					}
				}
			});
		});

	</script>

	<script type="text/javascript" src="{% static 'ajax-work.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/Emoji.js' %}"></script>


	<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/vendor.min.js' %}"></script>
	<script src="{% static 'jquery.toast.js' %}"></script>
	




	<script>

		$('.aDdTofavEOu').click(function(){    
			var id =$(this).data('product-id-fav');
	
			
			$.ajax({
		
				url:'/products/add_favorite/',
				data:{
					'id':id,
				},
				dataType:'json',
				success: function(data){
					if (data.likes != null){
						$('.square-FaVE-PhoNe').text(data.count);
						$('.square-FaVE-Pc').text(data.count);
						$('.counTfaVE-dis[data-like-text-id="' + id + '"]').text(data.likes); 
					}
					else{
						
						
						if (data.lang == 'en'){
							$.toast({
								heading: 'Error',
								text: 'Register first from here <a href="{% url 'singup' %} ">Register</a>',
								showHideTransition: 'fade',
								icon: 'error',
								position: 'top-left',
							})
						}
						else{
							$.toast({
								heading: 'Error',
								text: 'سجل اولا من هنا <a href="{% url 'singup' %} ">تسجيل</a>',
								showHideTransition: 'fade',
								icon: 'error',
								position: 'top-right',
								})
						}
						
						
					}
					
				}
			});
		});
	
	
	
		$('.QuicK-ViEw').click(function(){
			var id =$(this).data('quick-id');
			$('#lbl-popup[data-popup="' + id + '"]').click()
			var selectElement = $('#coLOr-CHo-MOdal[data-color="' + id + '"]');
			var elmintsize = $('#SizE-cHo-mODal[data-size="' + id + '"]');
			$('.color-selction').addClass('disp-none')
			
			$.ajax({
				url: '/products/quick/',
				data: {
					'id': id,
				},
				dataType: 'json',
				success: function(data) {
					selectElement.empty();   
					elmintsize.empty(); 
					
					$.each(data.colors, function(index, color) {
						// تحويل الحرف الأول إلى حرف كبير باستخدام toUpperCase()
						var capitalizedColor = color.charAt(0).toUpperCase() + color.slice(1);
						selectElement.append($('<option>', {
							text: capitalizedColor
						}));
					});
					$.each(data.sizes, function(index, size) {
						var capitalizedSize = size.charAt(0).toUpperCase() + size.slice(1);
						elmintsize.append($('<option>', {
							text: capitalizedSize
						}));
					});
					if (data.lang == 'en'){elmintsize.prepend('<option selected disabled>Choose a size</option>')}
					else{elmintsize.prepend('<option selected disabled>أختر حجم</option>')}
					if (!data.is_have_coustm){
						$('.add-TOcarT-MOdAL[data-modal-id="'+id+'"]').addClass('addcart-null')
						$('.add-TOcarT-MOdAL[data-modal-id="'+id+'"]').attr('disabled',true);
						if (data.lang == 'en'){$('.add-TOcarT-MOdAL[data-modal-id="'+id+'"]').text('unavailable');}
						else{$('.add-TOcarT-MOdAL[data-modal-id="'+id+'"]').text('غير متوفر');}
					}
				}
			});
			
		});
			
	
	




		$('.add-TOcarT-MOdAL').click(function(){
			var id =$(this).data('modal-id');
			var color=$('#coLOr-CHo-MOdal[data-color="' + id + '"]').val()
			var size=$('#SizE-cHo-mODal[data-size="' + id + '"]').val()
			var qty=$('#modal-Qty[data-p-qty="' + id + '"]').val()
			var lang ='{{lang}}'
	
			if (size == null) {
				if (lang == 'en'){
					var en_toast=$.toast({
						heading: 'Error',
						text: 'Please select a size.',
						showHideTransition: 'fade',
						icon: 'error',
						position: 'top-left',
						})
					}
					else{
					var en_toast=$.toast({
						heading: 'خطأ',
						text: 'يرجي اختيار حجم',
						showHideTransition: 'fade',
						icon: 'error',
						position: 'top-right',
						})
					}
	
			}
			else {
				
	
			$.ajax({
	
				url:'/cart/add_cart/',
				data:{
					'id':id,
					'size':size,
					'color':color,
					'qty':qty,
				},
				dataType:'json',
				success: function(data){
					$('.square-CarT-Pc').text(data['cart_count']); 
					$('.square-CarT-PhoNE').text(data['cart_count']);
					$('.Noti-ShopCart-PC').text(data['cart_count']);
					$('#sidE-Cart').html(data.templ_side_cart);
	
					if (lang == 'en'){
						var en_toast=$.toast({
						heading: 'Success',
						text: 'Added to cart',
						showHideTransition: 'plain',
						icon: 'success',
						position: 'top-left',
						})
						}
						else{
						var en_toast=$.toast({
						heading: 'نجاح',
						text: 'تمت الاضافة الي العربة',
						showHideTransition: 'plain',
						icon: 'success',
						position: 'top-right',
						})
					}
				}
		
			});
		}
		});




		
		$('#facebook-socila-share,#whatsapp-socila-share,#twitter-socila-share').click(function(){
			var id =$(this).data('porduct')
			var link= encodeURI(window.location.href + id)
			var type=$(this).data('tooltip')
			
			const msg=encodeURIComponent(',worled')
			const title=encodeURIComponent(document.querySelector('title').textContent)
			if (type == 'Facebook'){
				window.open(`https://www.facebook.com/share.php?u=${link}`, '_blank');
			}
			else if (type == 'X-Twitter'){
				window.open(`http://twitter.com/share?url=${link}`, '_blank');
			}
	
			else{
				window.open(`https://api.whatsapp.com/send?text=${link}`, '_blank');
			}
			
	
		});
	
	
		
	</script>








</body>

</html>
