{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<meta property="og:image" content="{{product.image.url}}">
<title> {% trans "Product Detail" %}</title>
	<!-- breadcrumb -->

	<style>
		body{direction: ltr;}


		.reviw-content .rating__label{font-size: 17px !important;cursor: inherit !important;}

		#addFOrm-Review .rating-group{direction: ltr;position: relative;left: 134%;}

		.reviw-content .rating-group{
			margin: 1px 0 -6px -9px;
		}
		

		#addFOrm-Review .rating__label{
			font-size: 30px !important;
		}


		
		.text .rev-heder .rating__label{
			cursor: initial !important;
		}
		.flex-w.flex-m.p-l-100.p-t-40.respon7{
			justify-content: center;
		}
		.mtext-106.cl2 .rating-group{
			direction: ltr !important;
			margin: 14px -17px -14px -13px;
		}

	

		@media (max-width:767px) {
			#addFOrm-Review .rating-group{left:100px;}
		}
	</style>
	{% if LANGUAGE_CODE == 'ar' %}
	<style>
		.slick-track{direction: rtl !important;}
		.sec-product-detail.bg0.p-t-65.p-b-60{direction: rtl;}
		.wrap-slick3-arrows{right: 120px !important;}
		.flex-w.flex-m.p-l-100.p-t-40.respon7{justify-content: center;}
		.flex-m.bor9.p-r-10.m-r-11{border: none;border-left: 1px solid #c3c3c3;}
		.checkmark{left: 7px}
		.counTfaVE-dis{position: relative;left: 5px;}
		.flex-w.flex-m.p-l-100.p-t-40.respon7{justify-content: flex-end;}
		.wrap-pic-s.size-109.bor0.of-hidden.m-r-18.m-t-6{margin: 0 26px 0 8px;}
		.stars-and-deletbtn .imoje-btn{left: -103px;}
		.stars-and-deletbtn .DelETE-Btn{margin: 52px 3px -3px 10px;}
		#addFOrm-Review .rating-group{left: -168px !important;}
		@media (max-width:991px) {
			.mtext-106.cl2 .rating-group{margin: 14px -5px -14px -13px;}
			.wrap-slick3-arrows{right: 58px !important;}
		}
		@media (max-width:767px) {
			#addFOrm-Review .rating-group{right: 65px;}
		}
		@media (min-width: 992px) and (max-width: 1599px){.wrap-slick3-arrows{right: 102px !important;}}
		
	</style>
	{% endif %}

	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url "home" %}" class="stext-109 cl8 hov-cl1 trans-04">
				{% trans "Home" %}
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="{% url "store" %}" class="stext-109 cl8 hov-cl1 trans-04">
				{% trans "Products" %}
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{% if LANGUAGE_CODE == 'en' %}{{product.product_name}} {% else %} {{product.product_name_ar}} {% endif %}
			</span>
		</div>
	</div>
		

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
								
							
							<div style="direction: ltr;" class="slick3 gallery-lb " >
								{% for i in product_gallery %}
								<div class="item-slick3" data-thumb="{{i.img.url}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{i.img.url}}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{i.img.url}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								{% endfor %}

							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h1 class="mtext-105 cl2 js-name-detail p-b-14">
							{% if LANGUAGE_CODE == 'en' %}{{product.product_name}} {% else %} {{product.product_name_ar}} {% endif %}
						</h1>

						<span class="mtext-106 cl2">
							<h5>
							$ {{product.price}}
							</h5>
							<div id="half-stars-example">
								<div class="rating-group">
									<label aria-label="0 stars" class="rating__label" for="rating2-0">&nbsp;</label>
									<label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating2-05"><i {% if product.avg_rate < 0.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
									<label aria-label="1 star" class="rating__label" for="rating2-10"><i {% if product.avg_rate < 1 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
									<label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating2-15"><i {% if product.avg_rate < 1.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
									<label aria-label="2 stars" class="rating__label" for="rating2-20"><i {% if product.avg_rate < 2 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
									<label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating2-25"><i {% if product.avg_rate < 2.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
									<label aria-label="3 stars" class="rating__label" for="rating2-30"><i {% if product.avg_rate < 3 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
									<label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating2-35"><i {% if product.avg_rate < 3.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
									<label aria-label="4 stars" class="rating__label" for="rating2-40"><i {% if product.avg_rate < 4 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
									<label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating2-45"><i {% if product.avg_rate < 4.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
									<label aria-label="5 stars" class="rating__label" for="rating2-50"><i {% if product.avg_rate < 5 %}style="color: #ddd;"{% endif %}  class="rating__icon rating__icon--star fa fa-star"></i></label>
								</div>
							</div>
						</span>
						<p class="stext-102 cl3 p-t-23">
							{% if LANGUAGE_CODE == 'en' %}{{product.description|safe|truncatechars:140}} {% else %} {{product.description_ar|safe|truncatechars:140}} {% endif %}
						</p>

						
						<!--  -->

						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									{% trans "Size" %}
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select data-id="{{product.id}}" class="js-select2-size" name="time" id="SizE-CH" required>
											<option value="" disabled selected>{% trans "Choose a size" %}</option>
											{% for size in sizes %}
											{% if LANGUAGE_CODE == 'en' %}
											<option>{{size.sizes__size_name}}</option>
											{% else %}
											<option>{{size.sizes__size_name_ar}}</option>
											{% endif %}
											{% endfor %}
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>

							<div class="flex-w flex-r-m p-b-10 color-selction disp-none">
								<div class="size-203 flex-c-m respon6">
									<span class="color-loader hidden"></span>
									<span class="color-text">{% trans "Color" %}</span>
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2-color" name="time"  id="cOLor-CH" required>
											{% for color in colors %}
											{% if LANGUAGE_CODE == 'en' %}
											<option>{{color.colors__color_name|capfirst}}</option>
											{% else %}
											<option>{{color.colors__color_name_ar|capfirst}}</option>
											{% endif %}
											{% endfor %}
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>
                            <input type="hidden" id="prod-id" value="{{product.id}}">
							<div class="flex-w flex-r-m p-b-10">
								<div style="justify-content: space-around;" class="size-204 flex-w flex-m respon6-next">
									<div style="direction: ltr;" class="wrap-num-product flex-w m-r-20 m-tb-10">
										<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>

										<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1" id="QtY-In" readonly>

										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div>
                                    
									<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" id='Add-To-carT'>
										{% trans "Add to cart" %}
									</button>
								</div>
							</div>	
						</div>
					

						<!--  -->
						<div class="flex-w flex-m p-l-100 p-t-40 respon7">
							<div class="flex-m bor9 p-r-10 m-r-11">
								<h2 style="padding: 0 4px;" class="counTfaVE-dis">{{product.all_likes}}</h2>
								<label class="hartcont">
									<input class="DisADdfaV"  type="checkbox" {% if is_fav  %} checked="checked" {% endif %}>
									<div style="position: relative;top: -9px;" class="checkmark">
										<svg viewBox="0 0 256 256">
										<rect fill="none" height="256" width="256"></rect>
										<path d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z" stroke-width="20px" stroke="#bfbfbf" fill="none"></path></svg>
									</div>
								</label>
							</div>
							<a id="facebook-socila-share" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
								<i class="fa fa-facebook"></i>
							</a>

							<a id="twitter-socila-share" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="X-Twitter">
								<i class="fa-brands fa-x-twitter"></i>
							</a>

							<a id="whatsapp-socila-share" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Whatsapp">
								<i class="fa-brands fa-whatsapp fa-lg"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link active" data-toggle="tab" href="#description" role="tab">{% trans "Description" %}</a>
						</li>

						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">{% trans "Reviews" %} (<span id="reviwes-ConTS">{{count_reviews}}</span>)</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-43">
						<!-- - -->
						<div class="tab-pane fade show active" id="description" role="tabpanel">
							<div class="how-pos2 p-lr-15-md">
								<p class="stext-102 cl6">
									{% if LANGUAGE_CODE == 'en' %}{{product.description|safe}} {% else %} {{product.description_ar|safe}} {% endif %}
								</p>
							</div>
						</div>

					
						
						<!-- - -->
						<div class="tab-pane fade" id="reviews" role="tabpanel">
							<div class="container">
								<div class="reviews-list">
									{% if request.user.is_authenticated %}
									<button type="button" class="ADD-reVEw-Btn">
										{% if rating %}{% trans "Edit Review" %}{% else %}{% trans "Add Review" %}{% endif %}
									</button>
									{% else %}
									<h1 class="pls-rgstr-revewis">{% trans "Register to submit your review" %}</h1>
									{% endif %}
									<div id="review-LIst">
									{% if reviews %}
									{% for review in reviews %}
									<div class="sengle-review">
										<a class="image" href="">
											<img src="{{review.user.profile_pictuer.url}}" alt="">
										</a>
										<div class="text">
											<div class="rev-heder">
												<a href="">{{review.user.user.full_name}}</a>
												<div id="half-stars-example">
													<div  style="direction: ltr;" class="rating-group">
														<label aria-label="0 stars" class="rating__label" for="rating2-0">&nbsp;</label>
														<label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating2-05"><i {% if review.rating < 0.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
														<label aria-label="1 star" class="rating__label" for="rating2-10"><i {% if review.rating < 1 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
														<label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating2-15"><i {% if review.rating < 1.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
														<label aria-label="2 stars" class="rating__label" for="rating2-20"><i {% if review.rating < 2 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
														<label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating2-25"><i {% if review.rating < 2.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
														<label aria-label="3 stars" class="rating__label" for="rating2-30"><i {% if review.rating < 3 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
														<label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating2-35"><i {% if review.rating < 3.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
														<label aria-label="4 stars" class="rating__label" for="rating2-40"><i {% if review.rating < 4 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
														<label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating2-45"><i {% if review.rating < 4.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
														<label aria-label="5 stars" class="rating__label" for="rating2-50"><i {% if review.rating < 5 %}style="color: #ddd;"{% endif %}  class="rating__icon rating__icon--star fa fa-star"></i></label>
													</div>
												</div>
											</div>
											<p class="content">
												{{review.review}}
											</p>
										</div>
									</div>
									{% endfor %}
									{% else %}
									<div class="if-no-comments">
										<h1>{% trans "There are no reviews for this product" %}</h1>
										<img style="margin-top: 16px;" src="{% static 'images/86541.png' %}" alt="">
									</div>
									{% endif %}
								</div>
							</div>
							<button id="lod-more-rev" data-limit="2" data-total="{{count_reviews}}">
								<span class="loader-revus"></span>
								<span class="loadmor-text">{% trans "Load More" %}</span>
							</button>
						</div>
					</div>


						<input class="modal-btn" type="checkbox" id="pupup-review" name="modal-btn"/>
							<label id="lbl-review"  for="pupup-review"></label> 
							<div  class="modal">
								<div  class="modal-wrap">	
									<form  method="post" id="addFOrm-Review" action="{% url 'satve-review' product.id %}">
										{% csrf_token %}
										
										
										<div style="direction: ltr;" class="input-rev">
											<div class="modal-footer">
												<button type="submit" class="edIT-BTn" id="ediT-REviW" value="edit">{% trans "EDIT" %} <i class="fa-solid fa-pen"></i></button>
												<button type="submit" class=" submMIt-bTN" id="supMIT-reVIW" value="post">{% trans "POST" %}<img src="{% static 'images/icons/75846.png' %}"></button>
											</div>
											<input type="hidden" value="{{valeue}}" id="reVew-vaL">
											<div class="textar-sec">
												<textarea  name="review" placeholder="Write your review...." id="myTextarea" oninput="autoResizeAndScroll()" maxlength="850"></textarea>
												<div class="toolpar">
													<div class="back-g"></div>
													<button type="button" id="btn-emojy" class="imoje-btn">
														<i class="fa-solid fa-face-smile"></i>
													</button>
												</div>
											</div>
										</div>
										
									<div class="stars-and-deletbtn">
										<div id="half-stars-example">
											<div class="rating-group">
												<input  class="rating__input rating__input--none" checked name="rating" id="rating2-0" {% if rating == 0 %}checked{% endif %} value="0" type="radio">
												<label aria-label="0 stars" class="rating__label" for="rating2-0">&nbsp;</label>
												<label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating2-05"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
												<input class="rating__input" name="rating" id="rating2-05" value="0.5" {% if rating == 0.5 %}checked{% endif %}  type="radio">
												<label aria-label="1 star" class="rating__label" for="rating2-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
												<input class="rating__input" name="rating" id="rating2-10" value="1" {% if rating == 1 %}checked{% endif %}  type="radio">
												<label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating2-15"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
												<input class="rating__input" name="rating" id="rating2-15" value="1.5" {% if rating == 1.5 %}checked{% endif %}  type="radio">
												<label aria-label="2 stars" class="rating__label" for="rating2-20"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
												<input class="rating__input" name="rating" id="rating2-20" value="2" {% if rating == 2 %}checked{% endif %}  type="radio">
												<label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating2-25"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
												<input class="rating__input" name="rating" id="rating2-25" value="2.5" {% if rating == 2.5 %}checked{% endif %}  type="radio">
												<label aria-label="3 stars" class="rating__label" for="rating2-30"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
												<input class="rating__input" name="rating" id="rating2-30" value="3" {% if rating == 3 %}checked{% endif %}  type="radio">
												<label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating2-35"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
												<input class="rating__input" name="rating" id="rating2-35" value="3.5" {% if rating == 3.5 %}checked{% endif %}  type="radio">
												<label aria-label="4 stars" class="rating__label" for="rating2-40"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
												<input class="rating__input" name="rating" id="rating2-40" value="4" {% if rating == 4 %}checked{% endif %}  type="radio">
												<label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating2-45"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
												<input class="rating__input" name="rating" id="rating2-45" value="4.5" {% if rating == 4.5 %}checked{% endif %}  type="radio">
												<label aria-label="5 stars" class="rating__label" for="rating2-50"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
												<input class="rating__input" name="rating" id="rating2-50" value="5" {% if rating == 5 %}checked{% endif %}  type="radio">
											</div>
										</div>
										
										<button type="submit" class="DelETE-Btn" id="DleTE-reviw" value="delete">{% trans "DELETE" %} <i class="fa-solid fa-trash"></i></button>
									</div>
									</div>
									</form>
								</div>			          		
								
							</div>	
							<!-- End Popup -->
							

					</div>
				</div>
			</div>
		</div>

		<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
			<span class="stext-107 cl6 p-lr-25">
				{% if LANGUAGE_CODE == 'en' %} SKU : {{product.id}} {% else %} {{product.id}} :رمز التخزين التعريفي {% endif %}
			</span>

			<span class="stext-107 cl6 p-lr-25">
				{% trans "Category" %}: {% if LANGUAGE_CODE == 'en' %} {{product.category}} {% else %} {{product.category.category_name_ar}}{% endif %}
			</span>
		</div>
	</section>


	<!-- Related Products -->
	<section   class="sec-relate-product bg0 p-t-45 p-b-105">
		<div class="container">
			<div class="p-b-45">
				<h3 class="ltext-106 cl5 txt-center">
					{% trans "Related Products" %}
				</h3>
			</div>

			<!-- Slide2 -->
			<div  class="wrap-slick2">
				<div class="slick2">
					{% for product in products %}
					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="{{product.image.url}}" alt="IMG-PRODUCT">

								<a href="{% url "product_details" product.id %}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04" >{% trans "More Details" %}</a>
							</div>
							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									
									<a href="{% url 'product_details' product.id %}" class="mtext-102 cl2  p-b-14" >
										<p {% if LANGUAGE_CODE == 'ar' %} style="position: relative;left: -10px;" {% endif %}>{% if LANGUAGE_CODE == 'en' %}{{product.product_name}} {% else %} {{product.product_name_ar}} {% endif %}</p>
									</a>
									
									<span class="stext-105 cl3">
										<p {% if LANGUAGE_CODE == 'ar' %} style="position: relative;left: -10px;" {% endif %}class="mtext-104 cl2" data-price="{{product.id}}">${{product.price}}</p>
										<div id="half-stars-example">
											<div  style="direction: ltr;position: relative;left: 100px;top: -25px;" class="rating-group">
												<label aria-label="0 stars" class="rating__label" for="rating2-0">&nbsp;</label>
												<label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating2-05"><i {% if product.avg_rate < 0.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
												<label aria-label="1 star" class="rating__label" for="rating2-10"><i {% if product.avg_rate < 1 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
												<label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating2-15"><i {% if product.avg_rate < 1.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
												<label aria-label="2 stars" class="rating__label" for="rating2-20"><i {% if product.avg_rate < 2 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
												<label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating2-25"><i {% if product.avg_rate < 2.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
												<label aria-label="3 stars" class="rating__label" for="rating2-30"><i {% if product.avg_rate < 3 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
												<label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating2-35"><i {% if product.avg_rate < 3.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
												<label aria-label="4 stars" class="rating__label" for="rating2-40"><i {% if product.avg_rate < 4 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star"></i></label>
												<label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating2-45"><i {% if product.avg_rate < 4.5 %}style="color: #ddd;"{% endif %} class="rating__icon rating__icon--star fa fa-star-half"></i></label>
												<label aria-label="5 stars" class="rating__label" for="rating2-50"><i {% if product.avg_rate < 5 %}style="color: #ddd;"{% endif %}  class="rating__icon rating__icon--star fa fa-star"></i></label>
											</div>
										</div>
									</span>
								</div>
	
								<div  class="block2-txt-child2 flex-r p-t-3">
									<h2 {% if LANGUAGE_CODE == 'en' %} style="margin-right: -6px;" {% else %} style="margin-left: -10px;" {% endif %} class="counTfaVE-dis" data-like-text-id="{{product.id}}">{{product.all_likes}}</h2>
									<label class="hartcont">
										<input class="DisADdfaV-ns-dait" data-product-id-fav="{{product.id}}"  type="checkbox" {% if product in all_favorit  %} checked="checked" {% endif %}>
										<div class="checkmark">
											<svg style="width: 24px;" viewBox="0 0 256 256">
											<rect fill="none" height="256" width="256"></rect>
											<path d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z" stroke-width="20px" stroke="#bfbfbf" fill="none"></path></svg>
										</div>
									</label>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>


{% endblock content %}



{% block scripts %}	

<script>
	
$(document).ready(function(){
	var id =$('#prod-id').val();
		$.ajax({
		url:'/products/order_selection_filter/',
		data:{
			'id':id,
		},
		dataType:'json',
		success: function(data){
			if (!data.is_have_coustm){
				$('#Add-To-carT').addClass('addcart-null')
				$("#Add-To-carT").attr('disabled',true);
				if (data.lang == 'en'){$("#Add-To-carT").text('unavailable');}
				else{$("#Add-To-carT").text('غير متوفر');}
			}
		}
	});
	$('.loader-revus').hide()
	var reviw_showed=$('.sengle-review').length
	var total=$('#lod-more-rev').data('total')
	if (total == reviw_showed){$('#lod-more-rev').hide()}
});
	

$('#Add-To-carT').click(function(){
	var id =$('#prod-id').val();
	var count=$('.js-show-cart').data('notify');
	var size=$('#SizE-CH').val();
	var color=$('#cOLor-CH').val();
	var qty = $('#QtY-In').val();
	var lang="{{lang}}"

	if ( size == null) {
		var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
		if (lang == 'en'){
			swal(nameProduct, "Not added, please select a color and size!", "error"); 
		}
		else{
			swal(nameProduct, "!لم يتم اضافته , يرجى اختيار لون و حجم ", "error"); 
		}
	}
	else {
		
		var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
		if (lang == 'en'){
			swal(nameProduct, "is added to cart !", "success");
		}
		else{
			swal(nameProduct, "!تمت اضافته الي عربة التسوق", "success");
		}
		

	$.ajax({

		url:'/cart/add_cart/',
		data:{
			'id':id,
			'size':size,
			'color':color,
			'qty':qty,
			
		},
		dataType:'json',
		success: function(data){
			$('.square-CarT-Pc').text(data['cart_count']); 
			$('.square-CarT-PhoNE').text(data['cart_count']);
			$('.Noti-ShopCart-PC').text(data['cart_count']);
			$('#sidE-Cart').html(data.templ_side_cart);
		}

	});
}
});

</script>





<script>
	$('.DisADdfaV').click(function(){    
		var id =$('#prod-id').val();
		

		
		$.ajax({
	
			url:'/products/add_favorite/',
			data:{
				'id':id,
				
			},
			dataType:'json',
			success: function(data){
                $('.square-FaVE-PhoNe').text(data.count);
                $('.square-FaVE-Pc').text(data.count);
				$('.counTfaVE-dis').text(data.likes); 
				
				
		
			}
	
		});
	});


</script>


<script>


	$(".ADD-reVEw-Btn").click(function(e){
		$('#lbl-review').click()
		if (textarea.value.length > 200){
			textarea.style.height='240px'
			textarea.style.overflowY = 'scroll';
		}
		//ajax
		$.ajax({
			data:{
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
			},
			method:$("#addFOrm-Review").attr('method'),
			url:$("#addFOrm-Review").attr('action'),
			
			dataType:'json',
			success:function(data){
				//
				if (data.is_rev_exi){
					$('.submMIt-bTN').hide();
					$('.DelETE-Btn').removeClass('disple');
					$(".DelETE-Btn").attr('disabled',false);
					$('.edIT-BTn').show();
				}
				else{
					$('.submMIt-bTN').show();
					$('.DelETE-Btn').addClass('disple');
					$(".DelETE-Btn").attr('disabled',true);
					$('.edIT-BTn').hide();
				}
			}
		});
		e.preventDefault();
	});


	//Product Review 
	$("#supMIT-reVIW").click(function(e){
		var formData = $("#addFOrm-Review").serialize();
		var params = new URLSearchParams(formData);
		var dataArray = Array.from(params.entries()).map(function(item) {
		return {[item[0]]: item[1]}; 
		});
		var button=$(this).val()
		
		//ajax
		$.ajax({
			data:{
				button:button,
				info:dataArray,
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
			},
			method:$("#addFOrm-Review").attr('method'),
			url:$("#addFOrm-Review").attr('action'),
			
			dataType:'json',
			beforeSend:function(){
			},
			success:function(data){
				//
				if (data.bool === true){
					$('#lbl-review').click()
					$('#review-LIst').html(data.template_rev);
					$('#reviwes-ConTS').text(data.count);
					$('.submMIt-bTN').hide();
					$('.DelETE-Btn').removeClass('disple');
					$(".DelETE-Btn").attr('disabled',false);
					$('.edIT-BTn').show();
					if (data.lang == 'en'){$('.ADD-reVEw-Btn').text('Edit Review');}
					else{$('.ADD-reVEw-Btn').text('تعديل المراجعة');}
					var reviw_showed=$('.sengle-review').length
					if ( reviw_showed == data.count){$('#lod-more-rev').hide()}
					else{$('#lod-more-rev').show()}
				}
			}
		});
		e.preventDefault();
	});
	
	

	
	$("#ediT-REviW").click(function(e){
		var formData = $("#addFOrm-Review").serialize();
		var params = new URLSearchParams(formData);
		var dataArray = Array.from(params.entries()).map(function(item) {
		return {[item[0]]: item[1]}; 
		});
		var direction =textarea.style.direction
		var button=$(this).val()

		//ajax
		$.ajax({
			data:{
				button:button,
				info:dataArray,
				direction:direction,
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
			},
			method:$("#addFOrm-Review").attr('method'),
			url:$("#addFOrm-Review").attr('action'),
			
			dataType:'json',
			beforeSend:function(){
			},
			success:function(data){
				//
				if (data.bool === true){
					$('#lbl-review').click()
					$('#review-LIst').html(data.template_rev);
					$('#reviwes-ConTS').text(data.count);
					var reviw_showed=$('.sengle-review').length
					if ( reviw_showed == data.count){$('#lod-more-rev').hide()}
					else{$('#lod-more-rev').show()}
				}
			}
		});
		e.preventDefault();
	});
	


	$("#DleTE-reviw").click(function(e){
		var formData = $("#addFOrm-Review").serialize();
		var params = new URLSearchParams(formData);
		var dataArray = Array.from(params.entries()).map(function(item) {
		return {[item[0]]: item[1]}; 
		});
		var button=$(this).val()
		
		//ajax
		$.ajax({
			data:{
				button:button,
				info:dataArray,
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
			},
			method:$("#addFOrm-Review").attr('method'),
			url:$("#addFOrm-Review").attr('action'),
			
			dataType:'json',
			beforeSend:function(){
			},
			success:function(data){
				//
				if (data.bool === true){
					$('#lbl-review').click()
					$('#review-LIst').html(data.template_rev);
					$('#reviwes-ConTS').text(data.count);
					$('.submMIt-bTN').show();
					$('.DelETE-Btn').addClass('disple');
					$(".DelETE-Btn").attr('disabled',true);
					$('.edIT-BTn').hide();
					if (data.lang == 'en'){$('.ADD-reVEw-Btn').text('Add Review');}
					else{$('.ADD-reVEw-Btn').text('إضافة مراجة');}
					var reviw_showed=$('.sengle-review').length
					if ( reviw_showed == data.count){$('#lod-more-rev').hide()}
					else{$('#lod-more-rev').show()}
				}
			}
		});
		e.preventDefault();
	});




//favorit products
$('.DisADdfaV-ns-dait').click(function(){    
	var id =$(this).data('product-id-fav');
	
	
	$.ajax({

		url:'/products/add_favorite/',
		data:{
			'id':id,
			
		},
		dataType:'json',
		success: function(data){
			$('.square-FaVE-PhoNe').text(data.count);
			$('.square-FaVE-Pc').text(data.count); 
			$('.counTfaVE-dis[data-like-text-id="' + id + '"]').text(data.likes); 
		}

	});
});






function autoResizeAndScroll() {
	var textarea = document.getElementById("myTextarea");
	var wordCount = textarea.value.trim().split('').length; // يحسب عدد الكلمات
	var maxWordCount = 400; // عدد الكلمات المسموح بها قبل التوقف وعمل التمرير
	textarea.style.overflowY = "hidden"; // تعطيل التمرير العمودي بشكل افتراضي
	textarea.readOnly = false; // تمكين التعديل بشكل افتراضي
	if (wordCount <= maxWordCount) {
	textarea.style.height = "auto"; // إعادة تعيين الارتفاع إلى الارتفاع الأصلي
	textarea.style.height = textarea.scrollHeight + "px"; // تعيين الارتفاع الجديد بناءً على ارتفاع النص المحتوى
	
	}
	else{
	textarea.style.overflowY='scroll'
	}
}

var textarea = document.getElementById("myTextarea");

textarea.addEventListener("input", function() {
  var text = textarea.value;
  var isArabic = /[\u0600-\u06FF]/.test(text); // يتم فحص وجود حروف عربية في النص

  if (isArabic) {
    textarea.style.direction = "rtl"; // اتجاه النص من اليمين إلى اليسار
  } else {
    textarea.style.direction = "ltr"; // اتجاه النص من اليسار إلى اليمين
  }
});








new EmojiPicker({
	trigger: [
		{
			insertInto: ['#myTextarea'],
			selector: '.fa-face-smile'
		}
	],
	closeButton: true,
	dragButton: true
})



</script>


<script>
	const link= encodeURI(window.location.href) ;
	const msg=encodeURIComponent(',worled')
	const title=encodeURIComponent(document.querySelector('title').textContent)
	
	const whatstp = document.querySelector('#whatsapp-socila-share')
	const fb = document.querySelector('#facebook-socila-share')
	const twitter = document.querySelector('#twitter-socila-share')
	
	fb.href=`https://www.facebook.com/share.php?u=${link}`;
	fb.target = "_blank";

	twitter.href=`http://twitter.com/share?url=${link}`;
	twitter.target = "_blank";

	whatstp.href = `https://api.whatsapp.com/send?text=${link}`;
	whatstp.target = "_blank";

</script>

<script>
	var val=$('#reVew-vaL').val()
	if (val != 'None'){
	var textarea = document.getElementById("myTextarea");
	textarea.value =val;
	}

	$('#lod-more-rev').click(function(){
		var reviw_showed=$('.sengle-review').length
		var total=$(this).data('total')
		var limit=$(this).data('limit')
		var id =$('#prod-id').val();
		//review-LIst
		$.ajax({
			url:'/products/load_review/',
			data:{
				'id':id,
				'reviw_showed':reviw_showed,
				'limit':limit,
				
			},
			dataType:'json',
			beforeSend:function(){
				$('.loader-revus').show()
				$('.loadmor-text').hide()
				
			},
			success:function(data){
				if (total == reviw_showed){$('#lod-more-rev').hide()}
				$('#review-LIst').append(data.template)
				$('.loader-revus').hide()
				$('.loadmor-text').show()
				
			}
		});
		
	});
</script>

{% endblock scripts %}
