{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    html{
        background-color: #fbfbfb;
    }
    body{
        background-color: #fbfbfb;
    }
</style>
<div  id="Data-Chek">
    <h2>loding</h2>
</div>
{% endblock content %}
{% block scripts %}
<script>
    $(document).ready(function(){
        var pyment_method= new URLSearchParams(window.location.search).get('pym-m');
        var order_number=new URLSearchParams(window.location.search).get('order-num');
        var invoice=new URLSearchParams(window.location.search).get('invoice');
        var payerID=new URLSearchParams(window.location.search).get('PayerID');
        var timeout = setTimeout(function() {
            window.location.href = '/';
        }, 30000); 
        
        var interval = setInterval(function() {
            $.ajax({
                url:'/orders/check_order/',
                data:{
                    'pyment_method':pyment_method,
                    'order_number':order_number,
                    'invoice':invoice,
                    'payerID':payerID,
                },
                dataType:'json',
                beforeSend:function(){
                },
                success:function(data){
                    if (data.template != false ){
                        clearInterval(interval);
                        clearTimeout(timeout);
                        $('#Data-Chek').hide().html(data.template).fadeIn(500);
                    }
                }
            });
        }, 1000);
    });
</script>
{% endblock scripts %}


