{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<title>{% trans "Order completed" %}</title>
<style>
    html{background-color: #fbfbfb;}
    body{background-color: #fbfbfb;}
    .loder-contet{
        padding: 15% 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p,span,strong,div,h1{font-family: system-ui;font-weight: 500;}
</style>
<div  id="Data-Chek">
    <div class="loder-contet">
        <div class="spinner">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script>
    $(document).ready(function(){
        var pyment_method= new URLSearchParams(window.location.search).get('pym-m');
        var order_number=new URLSearchParams(window.location.search).get('order-num');
        var invoice=new URLSearchParams(window.location.search).get('invoice');
        var payerID=new URLSearchParams(window.location.search).get('PayerID');
        var timeout = setTimeout(function() {
            window.location.href = '/';
        }, 30000); 
        var interval = setInterval(function() {
            $.ajax({
                url:'/orders/check_order/',
                data:{
                    'pyment_method':pyment_method,
                    'order_number':order_number,
                    'invoice':invoice,
                    'payerID':payerID,
                },
                dataType:'json',
                success:function(data){
                    if (data.template != false ){
                        clearInterval(interval);
                        clearTimeout(timeout);
                        $('#Data-Chek').hide().html(data.template).fadeIn(500);
                    }
                }
            });
        }, 1000);
    });
</script>
{% endblock scripts %}
