{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
	<!-- Title page -->
	<title>Error</title>

    <form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
                            <h2 style="font-weight: 700;text-transform: uppercase;" class="text-center">{% trans "Page not found" %}</h2>
                            <br>
							<div style="display:flex;justify-content: center;">
								<img style="width: 370px;" src="{% static 'images/65451.gif' %}" alt="">
							</div>
                            <div style="display: flex;justify-content: center;" class="text-center">
                                <a style="width: 250px;" href="{% url 'store' %}" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">{% trans "GO SHOPING" %}</a>
                                <br>
                                <br>
                                <br>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	{% endblock content %}
		
