{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<title>{% trans "LogIn" %}</title>
<div class="singup">
    <div class="container">
        {% if help_rq == 'Shipping' %}
        <h1>{% trans "Shipping" %}</h1>
        {% elif help_rq == 'Track-Order' %}
        <h1>{% trans "Track Order" %}</h1>
        {% elif help_rq == 'Returns' %}
        <h1>{% trans "Returns" %}</h1>
        {% elif help_rq == 'FAQs' %}
        <h1>{% trans "FAQs" %}</h1>
        {% endif %}
        <span class="careat-account"></span>
        <div class="content">
            <div>
                {% if help_rq == 'Shipping' %}
                <h2>{% trans "Shopping support will be available soon" %}</h2>
                {% elif help_rq == 'Track-Order' %}
                <h2>{% trans "A feature to track your order will be added soon" %}</h2>
                {% elif help_rq == 'Returns' %}
                <h2>{% trans "There are no returns" %}</h2>
                {% elif help_rq == 'FAQs' %}
                <h2>{% trans "No questions have been asked yet" %}</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}